<ng-include src="'assets/app/template/partial/banner-half.html'"></ng-include>
<div id="investorPage" class="container-fluid">
    <div class="row">
        <div class="col-xs-12 col-md-12 pageLabel">
            <div class="container">
                <h1>Investors</h1>
            </div>
        </div>
    </div>
    <section id="investorsContent" class="container">
        <div class="row">
            <div class="col-xs-12 col-md-12 divLabel">
                <h3>Business Districts & Promising Location</h3>
            </div>
            <div class="col-xs-12 col-md-12 divContents">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 hidden-md hidden-lg">
                        <div class="contentImage contentImage1"></div>
                    </div>
                    <div class="col-xs-12 col-md-6 contentDescription">
                        <p>
                            Contrary to popular belief, 
                            Lorem Ipsum is not simply random text. It has roots in a
                             piece of classical Latin literature from 45 BC, making it
                              over 2000 years old. Richard McClintock, a Latin professor at 
                              Hampden-Sydney College in Virginia, looked up one of the more 
                              obscure Latin words, consectetur, from a Lorem Ipsum passage, 
                              and going through the cites of the word in classical literature, 
                              discovered the undoubtable source. Lorem Ipsum comes from sections 
                              1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" 
                              (The Extremes of Good and Evil) by Cicero, written in 45 BC. 
                              This book is a treatise on the theory of ethics, very popular during the 
                              Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", 
                              comes from a line in section 1.10.32.
                        </p>
                        <a class="readMoreLink">
                            <button class="readMore">Read more</button>
                        </a>
                    </div>
                    <div class="hidden-xs hidden-sm col-md-6">
                        <div class="contentImage contentImage1"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-md-12 divLabel">
                <h3>Application for Business Permits and Other Requirements</h3>
            </div>
            <div class="col-xs-12 col-md-12 divContents">
                <div class="row">
                     <div class="col-xs-12 col-md-6">
                        <div class="contentImage contentImage2"></div>
                    </div>
                    <div class="col-xs-12 col-md-6 contentDescription">
                        <p>
                            Contrary to popular belief, 
                            Lorem Ipsum is not simply random text. It has roots in a
                             piece of classical Latin literature from 45 BC, making it
                              over 2000 years old. Richard McClintock, a Latin professor at 
                              Hampden-Sydney College in Virginia, looked up one of the more 
                              obscure Latin words, consectetur, from a Lorem Ipsum passage, 
                              and going through the cites of the word in classical literature, 
                              discovered the undoubtable source. Lorem Ipsum comes from sections 
                              1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" 
                              (The Extremes of Good and Evil) by Cicero, written in 45 BC. 
                              This book is a treatise on the theory of ethics, very popular during the 
                              Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", 
                              comes from a line in section 1.10.32.
                        </p>
                        <a class="readMoreLink">
                            <button class="readMore">Read more</button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-md-12 divLabel">
                <h3>Upcoming Development</h3>
            </div>
            <div class="col-xs-12 col-md-12 divContents2">
                <div class="scrollContents">
                    <div class="upcomingDev">
                        <div class="row">
                            <div class="col-md-5">
                                <div class="upcomingDevImg upcomingDevImg1"></div>
                            </div>
                            <div class="col-md-7 contentDescription">
                                <h3>Upcoming Development 1</h3>
                                <p>
                                    Contrary to popular belief, 
                                    Lorem Ipsum is not simply random text. It has roots in a
                                    piece of classical Latin literature from 45 BC, making it
                                    over 2000 years old. Richard McClintock, a Latin professor at 
                                    Hampden-Sydney College in Virginia, looked up one of the more 
                                    obscure Latin words, consectetur, from a Lorem Ipsum passage, 
                                    and going through the cites of the word in classical literature, 
                                    discovered the undoubtable source. Lorem Ipsum comes from sections 
                                    1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" 
                                    (The Extremes of Good and Evil) by Cicero, written in 45 BC. 
                                    This book is a treatise on the theory of ethics, very popular during the 
                                    Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", 
                                    comes from a line in section 1.10.32.
                                </p>
                                <a class="readMoreLink">
                                    <button class="readMore">Read more</button>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="upcomingDev">
                        <div class="row">
                            <div class="col-md-5">
                                <div class="upcomingDevImg upcomingDevImg2"></div>
                            </div>
                            <div class="col-md-7 contentDescription">
                                <h3>Upcoming Development 2</h3>
                                <p>
                                    Contrary to popular belief, 
                                    Lorem Ipsum is not simply random text. It has roots in a
                                    piece of classical Latin literature from 45 BC, making it
                                    over 2000 years old. Richard McClintock, a Latin professor at 
                                    Hampden-Sydney College in Virginia, looked up one of the more 
                                    obscure Latin words, consectetur, from a Lorem Ipsum passage, 
                                    and going through the cites of the word in classical literature, 
                                    discovered the undoubtable source. Lorem Ipsum comes from sections 
                                    1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" 
                                    (The Extremes of Good and Evil) by Cicero, written in 45 BC. 
                                    This book is a treatise on the theory of ethics, very popular during the 
                                    Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", 
                                    comes from a line in section 1.10.32.
                                </p>
                                <a class="readMoreLink">
                                    <button class="readMore">Read more</button>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="upcomingDev">
                        <div class="row">
                            <div class="col-md-5">
                                <div class="upcomingDevImg upcomingDevImg3"></div>
                            </div>
                            <div class="col-md-7 contentDescription">
                                <h3>Upcoming Development 3</h3>
                                <p>
                                    Contrary to popular belief, 
                                    Lorem Ipsum is not simply random text. It has roots in a
                                    piece of classical Latin literature from 45 BC, making it
                                    over 2000 years old. Richard McClintock, a Latin professor at 
                                    Hampden-Sydney College in Virginia, looked up one of the more 
                                    obscure Latin words, consectetur, from a Lorem Ipsum passage, 
                                    and going through the cites of the word in classical literature, 
                                    discovered the undoubtable source. Lorem Ipsum comes from sections 
                                    1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" 
                                    (The Extremes of Good and Evil) by Cicero, written in 45 BC. 
                                    This book is a treatise on the theory of ethics, very popular during the 
                                    Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", 
                                    comes from a line in section 1.10.32.
                                </p>
                                <a class="readMoreLink">
                                    <button class="readMore">Read more</button>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="upcomingDev">
                        <div class="row">
                            <div class="col-md-5">
                                <div class="upcomingDevImg upcomingDevImg2"></div>
                            </div>
                            <div class="col-md-7 contentDescription">
                                <h3>Upcoming Development 4</h3>
                                <p>
                                    Contrary to popular belief, 
                                    Lorem Ipsum is not simply random text. It has roots in a
                                    piece of classical Latin literature from 45 BC, making it
                                    over 2000 years old. Richard McClintock, a Latin professor at 
                                    Hampden-Sydney College in Virginia, looked up one of the more 
                                    obscure Latin words, consectetur, from a Lorem Ipsum passage, 
                                    and going through the cites of the word in classical literature, 
                                    discovered the undoubtable source. Lorem Ipsum comes from sections 
                                    1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" 
                                    (The Extremes of Good and Evil) by Cicero, written in 45 BC. 
                                    This book is a treatise on the theory of ethics, very popular during the 
                                    Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", 
                                    comes from a line in section 1.10.32.
                                </p>
                                <a class="readMoreLink">
                                    <button class="readMore">Read more</button>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="upcomingDev">
                        <div class="row">
                            <div class="col-md-5">
                                <div class="upcomingDevImg upcomingDevImg3"></div>
                            </div>
                            <div class="col-md-7 contentDescription">
                                <h3>Upcoming Development 5</h3>
                                <p>
                                    Contrary to popular belief, 
                                    Lorem Ipsum is not simply random text. It has roots in a
                                    piece of classical Latin literature from 45 BC, making it
                                    over 2000 years old. Richard McClintock, a Latin professor at 
                                    Hampden-Sydney College in Virginia, looked up one of the more 
                                    obscure Latin words, consectetur, from a Lorem Ipsum passage, 
                                    and going through the cites of the word in classical literature, 
                                    discovered the undoubtable source. Lorem Ipsum comes from sections 
                                    1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" 
                                    (The Extremes of Good and Evil) by Cicero, written in 45 BC. 
                                    This book is a treatise on the theory of ethics, very popular during the 
                                    Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", 
                                    comes from a line in section 1.10.32.
                                </p>
                                <a class="readMoreLink">
                                    <button class="readMore">Read more</button>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>

    </section>
</div>