<ng-include src="'assets/app/template/partial/banner-half.html'"></ng-include>
<section id="educationPage" class="container-fluid">
    <div class="row">
        <div class="col-md-12 pageLabel">
            <h1>Education</h1>
        </div>
    </div>
    <div class="educationContent">
        <!-- Primary Schools -->
        <div class="row schoolList">
            <div class="col-md-12 divLabel">
                <h3>Primary Schools</h3>
            </div>
            <!-- Schools -->
            <div class="col-md-12 schools padding-0">
                <div class="schoolContent schoolContent1">
                    <div class="row">
                        <div class="col-md-2">
                            <div class="logo">
                                <div class="schoolLogo primarySchoolLogo1"></div>
                            </div>
                        </div>
                        <div class="col-md-10">
                            <div class="row">
                                <h3 class="schoolName col-md-12">Hilongos South Central School (HSCS)</h3>
                                <div class="col-md-6">
                                    <h4 class="schoolInfo schoolInfo1">Address: </h4><h4 class="schoolInfo schoolInfo2">R.V. Fulache Hilongos Leyte</h4>
                                    <br/>
                                    <h4 class="schoolInfo schoolInfo1">Principal: </h4><h4 class="schoolInfo schoolInfo2">Alan M. Notarte</h4>
                                    <br/>
                                    <h4 class="schoolInfo schoolInfo1">Tell#: </h4><h4 class="schoolInfo schoolInfo2">0909-090-0909</h4>
                                    <br/>
                                    <h4 class="schoolInfo schoolInfo1">Business Type: </h4><h4 class="schoolInfo schoolInfo2">Public School</h4>
                                </div>
                                <div class="col-md-6">
                                    <h4 class="schoolInfo schoolInfo1">Number of teachers: </h4><h4 class="schoolInfo schoolInfo2">00</h4>
                                    <br/>
                                    <h4 class="schoolInfo schoolInfo1">Grade/Year offered: </h4><h4 class="schoolInfo schoolInfo2">Grade 1 - Grade 6</h4>
                                    <br/>
                                    <h4 class="schoolInfo schoolInfo1">Website: </h4><h4 class="schoolInfo schoolInfo2">www.nameofschool.com</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Schools -->
            <div class="col-md-12 schools padding-0">
                <div class="schoolContent">
                    <div class="row">
                        <div class="col-md-2">
                            <div class="logo">
                                <div class="schoolLogo primarySchoolLogo1"></div>
                            </div>
                        </div>
                        <div class="col-md-10">
                            <div class="row">
                                <h3 class="schoolName col-md-12">Hilongos South Central School (HSCS)</h3>
                                <div class="col-md-6">
                                    <h4 class="schoolInfo schoolInfo1">Address: </h4><h4 class="schoolInfo schoolInfo2">R.V. Fulache Hilongos Leyte</h4>
                                    <br/>
                                    <h4 class="schoolInfo schoolInfo1">Principal: </h4><h4 class="schoolInfo schoolInfo2">Alan M. Notarte</h4>
                                    <br/>
                                    <h4 class="schoolInfo schoolInfo1">Tell#: </h4><h4 class="schoolInfo schoolInfo2">0909-090-0909</h4>
                                    <br/>
                                    <h4 class="schoolInfo schoolInfo1">Business Type: </h4><h4 class="schoolInfo schoolInfo2">Public School</h4>
                                </div>
                                <div class="col-md-6">
                                    <h4 class="schoolInfo schoolInfo1">Number of teachers: </h4><h4 class="schoolInfo schoolInfo2">00</h4>
                                    <br/>
                                    <h4 class="schoolInfo schoolInfo1">Grade/Year offered: </h4><h4 class="schoolInfo schoolInfo2">Grade 1 - Grade 6</h4>
                                    <br/>
                                    <h4 class="schoolInfo schoolInfo1">Website: </h4><h4 class="schoolInfo schoolInfo2">www.nameofschool.com</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Schools -->
            <div class="col-md-12 schools padding-0">
                <div class="schoolContent schoolContent1">
                    <div class="row">
                        <div class="col-md-2">
                            <div class="logo">
                                <div class="schoolLogo primarySchoolLogo1"></div>
                            </div>
                        </div>
                        <div class="col-md-10">
                            <div class="row">
                                <h3 class="schoolName col-md-12">Hilongos South Central School (HSCS)</h3>
                                <div class="col-md-6">
                                    <h4 class="schoolInfo schoolInfo1">Address: </h4><h4 class="schoolInfo schoolInfo2">R.V. Fulache Hilongos Leyte</h4>
                                    <br/>
                                    <h4 class="schoolInfo schoolInfo1">Principal: </h4><h4 class="schoolInfo schoolInfo2">Alan M. Notarte</h4>
                                    <br/>
                                    <h4 class="schoolInfo schoolInfo1">Tell#: </h4><h4 class="schoolInfo schoolInfo2">0909-090-0909</h4>
                                    <br/>
                                    <h4 class="schoolInfo schoolInfo1">Business Type: </h4><h4 class="schoolInfo schoolInfo2">Public School</h4>
                                </div>
                                <div class="col-md-6">
                                    <h4 class="schoolInfo schoolInfo1">Number of teachers: </h4><h4 class="schoolInfo schoolInfo2">00</h4>
                                    <br/>
                                    <h4 class="schoolInfo schoolInfo1">Grade/Year offered: </h4><h4 class="schoolInfo schoolInfo2">Grade 1 - Grade 6</h4>
                                    <br/>
                                    <h4 class="schoolInfo schoolInfo1">Website: </h4><h4 class="schoolInfo schoolInfo2">www.nameofschool.com</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Schools -->
            <div class="col-md-12 schools padding-0">
                <div class="schoolContent">
                    <div class="row">
                        <div class="col-md-2">
                            <div class="logo">
                                <div class="schoolLogo primarySchoolLogo1"></div>
                            </div>
                        </div>
                        <div class="col-md-10">
                            <div class="row">
                                <h3 class="schoolName col-md-12">Hilongos South Central School (HSCS)</h3>
                                <div class="col-md-6">
                                    <h4 class="schoolInfo schoolInfo1">Address: </h4><h4 class="schoolInfo schoolInfo2">R.V. Fulache Hilongos Leyte</h4>
                                    <br/>
                                    <h4 class="schoolInfo schoolInfo1">Principal: </h4><h4 class="schoolInfo schoolInfo2">Alan M. Notarte</h4>
                                    <br/>
                                    <h4 class="schoolInfo schoolInfo1">Tell#: </h4><h4 class="schoolInfo schoolInfo2">0909-090-0909</h4>
                                    <br/>
                                    <h4 class="schoolInfo schoolInfo1">Business Type: </h4><h4 class="schoolInfo schoolInfo2">Public School</h4>
                                </div>
                                <div class="col-md-6">
                                    <h4 class="schoolInfo schoolInfo1">Number of teachers: </h4><h4 class="schoolInfo schoolInfo2">00</h4>
                                    <br/>
                                    <h4 class="schoolInfo schoolInfo1">Grade/Year offered: </h4><h4 class="schoolInfo schoolInfo2">Grade 1 - Grade 6</h4>
                                    <br/>
                                    <h4 class="schoolInfo schoolInfo1">Website: </h4><h4 class="schoolInfo schoolInfo2">www.nameofschool.com</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- View More -->
            <div class="col-md-12">
                <a class="viewMoreLink">
                    <button class="viewMore">View more</button>
                </a>
            </div>
        </div>
        <!-- Secondary Schools -->
        <div class="row schoolList">
            <div class="col-md-12 divLabel">
                <h3>Secondary Schools</h3>
            </div>
            <!-- Schools -->
            <div class="col-md-12 schools padding-0">
                <div class="schoolContent schoolContent1">
                    <div class="row">
                        <div class="col-md-2">
                            <div class="logo">
                                <div class="schoolLogo secondarySchoolLogo1"></div>
                            </div>
                        </div>
                        <div class="col-md-10">
                            <div class="row">
                                <h3 class="schoolName col-md-12">Hilongos National Vocational School (HNVS)</h3>
                                <div class="col-md-6">
                                    <h4 class="schoolInfo schoolInfo1">Address: </h4><h4 class="schoolInfo schoolInfo2">Rizal V. Street, Hilongos, Leyte</h4>
                                    <br/>
                                    <h4 class="schoolInfo schoolInfo1">Principal: </h4><h4 class="schoolInfo schoolInfo2">Daria Malanguis</h4>
                                    <br/>
                                    <h4 class="schoolInfo schoolInfo1">Tell#: </h4><h4 class="schoolInfo schoolInfo2">0909-090-0909</h4>
                                    <br/>
                                    <h4 class="schoolInfo schoolInfo1">Business Type: </h4><h4 class="schoolInfo schoolInfo2">Public School</h4>
                                </div>
                                <div class="col-md-6">
                                    <h4 class="schoolInfo schoolInfo1">Number of teachers: </h4><h4 class="schoolInfo schoolInfo2">00</h4>
                                    <br/>
                                    <h4 class="schoolInfo schoolInfo1">Grade/Year offered: </h4><h4 class="schoolInfo schoolInfo2">Grade 7 - Grade 12</h4>
                                    <br/>
                                    <h4 class="schoolInfo schoolInfo1">Website: </h4><h4 class="schoolInfo schoolInfo2">www.nameofschool.com</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Schools -->
            <div class="col-md-12 schools padding-0">
                <div class="schoolContent">
                    <div class="row">
                        <div class="col-md-2">
                            <div class="logo">
                                <div class="schoolLogo secondarySchoolLogo2"></div>
                            </div>
                        </div>
                        <div class="col-md-10">
                            <div class="row">
                                <h3 class="schoolName col-md-12">MLG College of Learning (MLGCL)</h3>
                                <div class="col-md-6">
                                    <h4 class="schoolInfo schoolInfo1">Address: </h4><h4 class="schoolInfo schoolInfo2">Brgy. Atabay, 6524 Hilongos, Leyte</h4>
                                    <br/>
                                    <h4 class="schoolInfo schoolInfo1">Principal: </h4><h4 class="schoolInfo schoolInfo2">Magdalena V. Pil</h4>
                                    <br/>
                                    <h4 class="schoolInfo schoolInfo1">Tell#: </h4><h4 class="schoolInfo schoolInfo2">0909-090-0909</h4>
                                    <br/>
                                    <h4 class="schoolInfo schoolInfo1">Business Type: </h4><h4 class="schoolInfo schoolInfo2">Public School</h4>
                                </div>
                                <div class="col-md-6">
                                    <h4 class="schoolInfo schoolInfo1">Number of teachers: </h4><h4 class="schoolInfo schoolInfo2">00</h4>
                                    <br/>
                                    <h4 class="schoolInfo schoolInfo1">Grade/Year offered: </h4><h4 class="schoolInfo schoolInfo2">Grade 7 - Grade 12</h4>
                                    <br/>
                                    <h4 class="schoolInfo schoolInfo1">Website: </h4><h4 class="schoolInfo schoolInfo2">www.nameofschool.com</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Schools -->
            <div class="col-md-12 schools padding-0">
                <div class="schoolContent schoolContent1">
                    <div class="row">
                        <div class="col-md-2">
                            <div class="logo">
                                <div class="schoolLogo secondarySchoolLogo1"></div>
                            </div>
                        </div>
                        <div class="col-md-10">
                            <div class="row">
                                <h3 class="schoolName col-md-12">Hilongos National Vocational School (HNVS)</h3>
                                <div class="col-md-6">
                                    <h4 class="schoolInfo schoolInfo1">Address: </h4><h4 class="schoolInfo schoolInfo2">Rizal V. Street, Hilongos, Leyte</h4>
                                    <br/>
                                    <h4 class="schoolInfo schoolInfo1">Principal: </h4><h4 class="schoolInfo schoolInfo2">Daria Malanguis</h4>
                                    <br/>
                                    <h4 class="schoolInfo schoolInfo1">Tell#: </h4><h4 class="schoolInfo schoolInfo2">0909-090-0909</h4>
                                    <br/>
                                    <h4 class="schoolInfo schoolInfo1">Business Type: </h4><h4 class="schoolInfo schoolInfo2">Public School</h4>
                                </div>
                                <div class="col-md-6">
                                    <h4 class="schoolInfo schoolInfo1">Number of teachers: </h4><h4 class="schoolInfo schoolInfo2">00</h4>
                                    <br/>
                                    <h4 class="schoolInfo schoolInfo1">Grade/Year offered: </h4><h4 class="schoolInfo schoolInfo2">Grade 7 - Grade 12</h4>
                                    <br/>
                                    <h4 class="schoolInfo schoolInfo1">Website: </h4><h4 class="schoolInfo schoolInfo2">www.nameofschool.com</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Schools -->
            <div class="col-md-12 schools padding-0">
                <div class="schoolContent">
                    <div class="row">
                        <div class="col-md-2">
                            <div class="logo">
                                <div class="schoolLogo secondarySchoolLogo2"></div>
                            </div>
                        </div>
                        <div class="col-md-10">
                            <div class="row">
                                <h3 class="schoolName col-md-12">MLG College of Learning (MLGCL)</h3>
                                <div class="col-md-6">
                                    <h4 class="schoolInfo schoolInfo1">Address: </h4><h4 class="schoolInfo schoolInfo2">Brgy. Atabay, 6524 Hilongos, Leyte</h4>
                                    <br/>
                                    <h4 class="schoolInfo schoolInfo1">Principal: </h4><h4 class="schoolInfo schoolInfo2">Magdalena V. Pil</h4>
                                    <br/>
                                    <h4 class="schoolInfo schoolInfo1">Tell#: </h4><h4 class="schoolInfo schoolInfo2">0909-090-0909</h4>
                                    <br/>
                                    <h4 class="schoolInfo schoolInfo1">Business Type: </h4><h4 class="schoolInfo schoolInfo2">Public School</h4>
                                </div>
                                <div class="col-md-6">
                                    <h4 class="schoolInfo schoolInfo1">Number of teachers: </h4><h4 class="schoolInfo schoolInfo2">00</h4>
                                    <br/>
                                    <h4 class="schoolInfo schoolInfo1">Grade/Year offered: </h4><h4 class="schoolInfo schoolInfo2">Grade 7 - Grade 12</h4>
                                    <br/>
                                    <h4 class="schoolInfo schoolInfo1">Website: </h4><h4 class="schoolInfo schoolInfo2">www.nameofschool.com</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- View More -->
            <div class="col-md-12">
                <a class="viewMoreLink">
                    <button class="viewMore">View more</button>
                </a>
            </div>
        </div>
        <!-- Tertiary Schools -->
        <div class="row schoolList">
            <div class="col-md-12 divLabel">
                <h3>Tertiary Schools</h3>
            </div>
            <!-- Schools -->
            <div class="col-md-12 schools padding-0">
                <div class="schoolContent schoolContent1">
                    <div class="row">
                        <div class="col-md-2">
                            <div class="logo">
                                <div class="schoolLogo secondarySchoolLogo2"></div>
                            </div>
                        </div>
                        <div class="col-md-10">
                            <div class="row">
                                <h3 class="schoolName col-md-12">MLG College of Learning (MLGCL)</h3>
                                <div class="col-md-6">
                                    <h4 class="schoolInfo schoolInfo1">Address: </h4><h4 class="schoolInfo schoolInfo2">Brgy. Atabay, 6524 Hilongos, Leyte</h4>
                                    <br/>
                                    <h4 class="schoolInfo schoolInfo1">Principal: </h4><h4 class="schoolInfo schoolInfo2">Magdalena V. Pil</h4>
                                    <br/>
                                    <h4 class="schoolInfo schoolInfo1">Tell#: </h4><h4 class="schoolInfo schoolInfo2">0909-090-0909</h4>
                                    <br/>
                                    <h4 class="schoolInfo schoolInfo1">Business Type: </h4><h4 class="schoolInfo schoolInfo2">Public School</h4>
                                </div>
                                <div class="col-md-6">
                                    <h4 class="schoolInfo schoolInfo1">Number of teachers: </h4><h4 class="schoolInfo schoolInfo2">00</h4>
                                    <br/>
                                    <h4 class="schoolInfo schoolInfo1">Grade/Year offered: </h4><h4 class="schoolInfo schoolInfo2">Grade 7 - Grade 12</h4>
                                    <br/>
                                    <h4 class="schoolInfo schoolInfo1">Website: </h4><h4 class="schoolInfo schoolInfo2">www.nameofschool.com</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
