<ng-include src="'assets/app/template/partial/banner-half.html'"></ng-include>
<section id="equipmentPage">
    <div class="pageLabel">
        <div class="container">
            <span>
                <img class="iconImg" src="assets/images/equipment/icon.png">
                <h1>Equipments</h1>
            </span>
        </div>
    </div>
    <div class="equipmentContent">
        <div class="container">
            <div class="row">
                <!-- Dump Truck -->
                <div class="col-xs-12 col-sm-6 col-lg-4 ">
                    <div class="contentBox" ui-sref="equipmentDetails({equipment : 'hospital'})">
                        <div class="contentImg contentImg1"></div>
                        <div class="contentDescription">
                            <h2>Hospital</h2> <span class="arrowRight"></span>
                            <p>Donec sollicitudin molestie malesuada. Nulla quis lorem ut libero malesuada feugiat.</p>
                        </div>
                    </div>
                </div>
                <!--Ambulance-->
                <div class="col-xs-12 col-sm-6 col-lg-4 ">
                    <div class="contentBox" ui-sref="equipmentDetails({equipment : 'ambulance'})">
                        <div class="contentImg contentImg4"></div>
                        <div class="contentDescription">
                            <h2>Ambulance</h2> <span class="arrowRight"></span>
                            <p>Donec sollicitudin molestie malesuada. Nulla quis lorem ut libero malesuada feugiat.</p>
                        </div>
                    </div>
                </div>
                <!-- Fire Truck -->
                <div class="col-xs-12 col-sm-6 col-lg-4 ">
                    <div class="contentBox" ui-sref="equipmentDetails({equipment : 'fire_truck'})">
                        <div class="contentImg contentImg5"></div>
                        <div class="contentDescription">
                            <h2>Fire Truck</h2> <span class="arrowRight"></span>
                            <p>Donec sollicitudin molestie malesuada. Nulla quis lorem ut libero malesuada feugiat.</p>
                        </div>
                    </div>
                </div>
                <!-- Backhoe -->
                <div class="col-xs-12 col-sm-6 col-lg-4 ">
                    <div class="contentBox" ui-sref="equipmentDetails({equipment : 'backhoe'})">
                        <div class="contentImg contentImg2"></div>
                        <div class="contentDescription">
                            <h2>Backhoe</h2> <span class="arrowRight"></span>
                            <p>Donec sollicitudin molestie malesuada. Nulla quis lorem ut libero malesuada feugiat.</p>
                        </div>
                    </div>
                </div>
                <!-- Garbage Truck -->
                <div class="col-xs-12 col-sm-6 col-lg-4 ">
                    <div class="contentBox" ui-sref="equipmentDetails({equipment : 'garbage_truck'})">
                        <div class="contentImg contentImg6"></div>
                        <div class="contentDescription">
                            <h2>Garbage Truck</h2> <span class="arrowRight"></span>
                            <p>Donec sollicitudin molestie malesuada. Nulla quis lorem ut libero malesuada feugiat.</p>
                        </div>
                    </div>
                </div>
                <!-- Bulldozer -->
                <div class="col-xs-12 col-sm-6 col-lg-4 ">
                    <div class="contentBox" ui-sref="equipmentDetails({equipment : 'bulldozer'})">
                        <div class="contentImg contentImg3"></div>
                        <div class="contentDescription">
                            <h2>Bulldozer</h2> <span class="arrowRight"></span>
                            <p>Donec sollicitudin molestie malesuada. Nulla quis lorem ut libero malesuada feugiat.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>