<ng-include src="'assets/app/template/partial/banner-half.html'"></ng-include>
<section id="facilityPage" data-ng-controller="facilitiesController">
    <div class="pageLabel">
        <div class="container">
            <span>
                <img class="iconImg" src="assets/images/facilties/icon.png">
                <h1>Facilities</h1>
            </span>
        </div>
    </div>
    <div class="facilitiesContent">
        <div class="container">
            <div class="row">
                <!-- Hospital -->
                <div class="col-xs-12 col-sm-6 col-lg-4 ">
                    <div class="contentBox" ui-sref="facilityDetails({facility : 'hospital'})">
                        <div class="contentImg contentImg1"></div>
                        <div class="contentDescription">
                            <h2>Hospital<img class="arrowRight" src="assets/images/facilties/right-arrow.png"></h2> 
                            <p>Donec sollicitudin molestie malesuada. Nulla quis lorem ut libero malesuada feugiat.</p>
                        </div>
                    </div>
                </div>
                <!-- Municipal Hall -->
                <div class="col-xs-12 col-sm-6 col-lg-4 ">
                    <div class="contentBox" ui-sref="facilityDetails({facility : 'municipal_hall'})">
                        <div class="contentImg contentImg6"></div>
                        <div class="contentDescription">
                            <h2>Municipal Hall<img class="arrowRight" src="assets/images/facilties/right-arrow.png"></h2> 
                            <p>Donec sollicitudin molestie malesuada. Nulla quis lorem ut libero malesuada feugiat.</p>
                        </div>
                    </div>
                </div>
                <!-- Fire Department -->
                <div class="col-xs-12 col-sm-6 col-lg-4 ">
                    <div class="contentBox" ui-sref="facilityDetails({facility : 'fire_department'})">
                        <div class="contentImg contentImg5"></div>
                        <div class="contentDescription">
                            <h2>Fire Department<img class="arrowRight" src="assets/images/facilties/right-arrow.png"></h2> 
                            <p>Donec sollicitudin molestie malesuada. Nulla quis lorem ut libero malesuada feugiat.</p>
                        </div>
                    </div>
                </div>
                <!-- Library -->
                <div class="col-xs-12 col-sm-6 col-lg-4 ">
                    <div class="contentBox" ui-sref="facilityDetails({facility : 'library'})">
                        <div class="contentImg contentImg4"></div>
                        <div class="contentDescription">
                            <h2>Library<img class="arrowRight" src="assets/images/facilties/right-arrow.png"></h2> 
                            <p>Donec sollicitudin molestie malesuada. Nulla quis lorem ut libero malesuada feugiat.</p>
                        </div>
                    </div>
                </div>
                <!-- Gym -->
                <div class="col-xs-12 col-sm-6 col-lg-4 ">
                    <div class="contentBox" ui-sref="facilityDetails({facility : 'gym'})">
                        <div class="contentImg contentImg2"></div>
                        <div class="contentDescription">
                            <h2>Gym<img class="arrowRight" src="assets/images/facilties/right-arrow.png"></h2> 
                            <p>Donec sollicitudin molestie malesuada. Nulla quis lorem ut libero malesuada feugiat.</p>
                        </div>
                    </div>
                </div>
                <!-- Coastguard -->
                <div class="col-xs-12 col-sm-6 col-lg-4 ">
                    <div class="contentBox" ui-sref="facilityDetails({facility : 'coast_guard'})">
                        <div class="contentImg contentImg3"></div>
                        <div class="contentDescription">
                            <h2>Coastguard<img class="arrowRight" src="assets/images/facilties/right-arrow.png"></h2> 
                            <p>Donec sollicitudin molestie malesuada. Nulla quis lorem ut libero malesuada feugiat.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>