<ng-include src="'assets/app/template/partial/banner-dark.html'"></ng-include>
<div id="barangayPage">
        <section id="mapSection">
                <div class="search-box-container">
                        <div class="input-form icon-right">
                                <angucomplete-alt
                                placeholder="Search a barangay"
                                pause="300"
                                selected-object="barangay.selected"
                                local-data="barangay.nameList"
                                local-search="barangay.search"
                                title-field="name"
                                minlength="3"
                                input-class="form-control form-control-small search-box"
                                match-class="highlight" 
                                input-changed="barangay.trackInputChange"/>
                                <i class="fa fa-search"></i>
                        </div>
                </div>
                

                <img class="barangay-map" data-ng-src="{{barangay.imageSrc}}">
        </section>
        


        <section class="mapDescripption container-fluid" data-ng-if="barangay.barangayId!=='main'">
                <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 text-center">
                        <img data-ng-src="{{barangay.barangayImageSrc}}" alt="">
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 sanRoque">
                <br />
                <h2>{{barangay.getBarangayName()}}</h2>
                <hr />
                <br/>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting 
                        industry. Lorem Ipsum has been the industry's standard dummy text 
                        ever since the 1500s, when an unknown printer took a galley of type
                        and scrambled it to make a type specimen book
                        Lorem Ipsum is simply dummy text of the printing and typesetting 
                        industry. Lorem Ipsum has been the industry's standard dummy text 
                        ever since the 1500s, when an unknown printer took a galley of type
                        and scrambled it to make a type specimen book.</p>
                        <br/>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting 
                        industry. Lorem Ipsum has been the industry's standard dummy text 
                        ever since the 1500s, when an unknown printer took a galley of type
                        and scrambled it to make a type specimen book
                        Lorem Ipsum is simply dummy text of the printing and typesetting 
                        industry. Lorem Ipsum has been the industry's standard dummy text 
                        ever since the 1500s, when an unknown printer took a galley of type
                        and scrambled it to make a type specimen book.</p>
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                <br />
                <hr/>
                </div>
        </section>
        <ng-include src="barangay.partialSource"></ng-include>
</div>