<ng-include src="'assets/app/template/partial/govern-banner.html'"></ng-include>
<div id="governance">
    <div class="govern-title">
        <div class="container">
            <h2 >Governance</h2>
        </div>
    </div>
    <div class="container">
        <div class="govern-content">
            <h1>Municipal Officials</h1>
            <div class="official">
                <h2>Municipal Mayor</h2>
                <div class="row">
                    <div class="col-xs-12 col-md-4 col-lg-4">
                        <div class="official-image" style = "background-image:url('assets/images/department/admin.png')"></div>
                    </div>
                    <div class="col-xs-12 col-md-8 col-lg-8">
                        <h3>HON. ALBERT VILLAHERMOSA</h3>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries,</p>
                        <div class="official-link">
                            <a href="">
                                <span class = "fa fa-facebook"></span>
                            </a>
                            <a href="">
                                <span class = "fa fa-twitter"></span>
                            </a>
                            <a href="">
                                <span class = "fa fa-instagram"></span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="official">
                <h2>Municipal Vice Mayor</h2>
                <div class="row">
                    <div class="col-xs-12 col-md-4 col-lg-4">
                        <div class="official-image" style = "background-image:url('assets/images/department/admin.png')"></div>
                    </div>
                    <div class="col-xs-12 col-md-8 col-lg-8">
                        <h3>HON. MANUEL GABISAN</h3>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries,</p>
                        <div class="official-link">
                            <a href="">
                                <span class = "fa fa-facebook"></span>
                            </a>
                            <a href="">
                                <span class = "fa fa-twitter"></span>
                            </a>
                            <a href="">
                                <span class = "fa fa-instagram"></span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="official">
                <h2>SB MEMBERS</h2>
                <div class="row">
                    <div class="col-xs-12 col-md-4 col-lg-4">
                        <div class="official-image" style = "background-image:url('assets/images/department/admin.png')"></div>
                    </div>
                    <div class="col-xs-12 col-md-8 col-lg-8">
                        <h3>1.  HON. JANJAN NERVES</h3>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries,</p>
                        <div class="official-link">
                            <a href="">
                                <span class = "fa fa-facebook"></span>
                            </a>
                            <a href="">
                                <span class = "fa fa-twitter"></span>
                            </a>
                            <a href="">
                                <span class = "fa fa-instagram"></span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-md-4 col-lg-4">
                        <div class="official-image" style = "background-image:url('assets/images/department/admin.png')"></div>
                    </div>
                    <div class="col-xs-12 col-md-8 col-lg-8">
                        <h3>2.  HON. PEPOT FULACHE</h3>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries,</p>
                        <div class="official-link">
                            <a href="">
                                <span class = "fa fa-facebook"></span>
                            </a>
                            <a href="">
                                <span class = "fa fa-twitter"></span>
                            </a>
                            <a href="">
                                <span class = "fa fa-instagram"></span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-md-4 col-lg-4">
                        <div class="official-image" style = "background-image:url('assets/images/department/admin.png')"></div>
                    </div>
                    <div class="col-xs-12 col-md-8 col-lg-8">
                        <h3>3.  HON. CRISTUTO ONG</h3>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries,</p>
                        <div class="official-link">
                            <a href="">
                                <span class = "fa fa-facebook"></span>
                            </a>
                            <a href="">
                                <span class = "fa fa-twitter"></span>
                            </a>
                            <a href="">
                                <span class = "fa fa-instagram"></span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-md-4 col-lg-4">
                        <div class="official-image" style = "background-image:url('assets/images/department/admin.png')"></div>
                    </div>
                    <div class="col-xs-12 col-md-8 col-lg-8">
                        <h3>4.  HON. GIOVANNI OLO</h3>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries,</p>
                        <div class="official-link">
                            <a href="">
                                <span class = "fa fa-facebook"></span>
                            </a>
                            <a href="">
                                <span class = "fa fa-twitter"></span>
                            </a>
                            <a href="">
                                <span class = "fa fa-instagram"></span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-md-4 col-lg-4">
                        <div class="official-image" style = "background-image:url('assets/images/department/admin.png')"></div>
                    </div>
                    <div class="col-xs-12 col-md-8 col-lg-8">
                        <h3>5.  HON. REN REN ROBLES-SUICO</h3>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries,</p>
                        <div class="official-link">
                            <a href="">
                                <span class = "fa fa-facebook"></span>
                            </a>
                            <a href="">
                                <span class = "fa fa-twitter"></span>
                            </a>
                            <a href="">
                                <span class = "fa fa-instagram"></span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-md-4 col-lg-4">
                        <div class="official-image" style = "background-image:url('assets/images/department/admin.png')"></div>
                    </div>
                    <div class="col-xs-12 col-md-8 col-lg-8">
                        <h3>6.  HON. DONER MODESTO</h3>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries,</p>
                        <div class="official-link">
                            <a href="">
                                <span class = "fa fa-facebook"></span>
                            </a>
                            <a href="">
                                <span class = "fa fa-twitter"></span>
                            </a>
                            <a href="">
                                <span class = "fa fa-instagram"></span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-md-4 col-lg-4">
                        <div class="official-image" style = "background-image:url('assets/images/department/admin.png')"></div>
                    </div>
                    <div class="col-xs-12 col-md-8 col-lg-8">
                        <h3>7.  HON. LORETO LORA</h3>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries,</p>
                        <div class="official-link">
                            <a href="">
                                <span class = "fa fa-facebook"></span>
                            </a>
                            <a href="">
                                <span class = "fa fa-twitter"></span>
                            </a>
                            <a href="">
                                <span class = "fa fa-instagram"></span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-md-4 col-lg-4">
                        <div class="official-image" style = "background-image:url('assets/images/department/admin.png')"></div>
                    </div>
                    <div class="col-xs-12 col-md-8 col-lg-8">
                        <h3>8.  HON. MENDOZA TANTUAN</h3>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries,</p>
                        <div class="official-link">
                            <a href="">
                                <span class = "fa fa-facebook"></span>
                            </a>
                            <a href="">
                                <span class = "fa fa-twitter"></span>
                            </a>
                            <a href="">
                                <span class = "fa fa-instagram"></span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="official">
                <h2>ABC PRESIDENT</h2>
                <div class="row">
                    <div class="col-xs-12 col-md-4 col-lg-4">
                        <div class="official-image" style = "background-image:url('assets/images/department/admin.png')"></div>
                    </div>
                    <div class="col-xs-12 col-md-8 col-lg-8">
                        <h3>NAME</h3>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries,</p>
                        <div class="official-link">
                            <a href="">
                                <span class = "fa fa-facebook"></span>
                            </a>
                            <a href="">
                                <span class = "fa fa-twitter"></span>
                            </a>
                            <a href="">
                                <span class = "fa fa-instagram"></span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="official">
                <h2>BUDGET OFFICER</h2>
                <div class="row">
                    <div class="col-xs-12 col-md-4 col-lg-4">
                        <div class="official-image" style = "background-image:url('assets/images/department/admin.png')"></div>
                    </div>
                    <div class="col-xs-12 col-md-8 col-lg-8">
                        <h3>NAME</h3>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries,</p>
                        <div class="official-link">
                            <a href="">
                                <span class = "fa fa-facebook"></span>
                            </a>
                            <a href="">
                                <span class = "fa fa-twitter"></span>
                            </a>
                            <a href="">
                                <span class = "fa fa-instagram"></span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="official">
                <h2>OIC-HR</h2>
                <div class="row">
                    <div class="col-xs-12 col-md-4 col-lg-4">
                        <div class="official-image" style = "background-image:url('assets/images/department/admin.png')"></div>
                    </div>
                    <div class="col-xs-12 col-md-8 col-lg-8">
                        <h3>NAME</h3>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries,</p>
                        <div class="official-link">
                            <a href="">
                                <span class = "fa fa-facebook"></span>
                            </a>
                            <a href="">
                                <span class = "fa fa-twitter"></span>
                            </a>
                            <a href="">
                                <span class = "fa fa-instagram"></span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="official">
                <h2>PNP</h2>
                <div class="row">
                    <div class="col-xs-12 col-md-4 col-lg-4">
                        <div class="official-image" style = "background-image:url('assets/images/department/admin.png')"></div>
                    </div>
                    <div class="col-xs-12 col-md-8 col-lg-8">
                        <h3>NAME</h3>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries,</p>
                        <div class="official-link">
                            <a href="">
                                <span class = "fa fa-facebook"></span>
                            </a>
                            <a href="">
                                <span class = "fa fa-twitter"></span>
                            </a>
                            <a href="">
                                <span class = "fa fa-instagram"></span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="official">
                <h2>DESIGNATED MENRO</h2>
                <div class="row">
                    <div class="col-xs-12 col-md-4 col-lg-4">
                        <div class="official-image" style = "background-image:url('assets/images/department/admin.png')"></div>
                    </div>
                    <div class="col-xs-12 col-md-8 col-lg-8">
                        <h3>NAME</h3>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries,</p>
                        <div class="official-link">
                            <a href="">
                                <span class = "fa fa-facebook"></span>
                            </a>
                            <a href="">
                                <span class = "fa fa-twitter"></span>
                            </a>
                            <a href="">
                                <span class = "fa fa-instagram"></span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="official">
                <h2>DESIGNATED TOURISM OFFICER</h2>
                <div class="row">
                    <div class="col-xs-12 col-md-4 col-lg-4">
                        <div class="official-image" style = "background-image:url('assets/images/department/admin.png')"></div>
                    </div>
                    <div class="col-xs-12 col-md-8 col-lg-8">
                        <h3>NAME</h3>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries,</p>
                        <div class="official-link">
                            <a href="">
                                <span class = "fa fa-facebook"></span>
                            </a>
                            <a href="">
                                <span class = "fa fa-twitter"></span>
                            </a>
                            <a href="">
                                <span class = "fa fa-instagram"></span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <h1>
                <p>Municipal Ordinance</p>
                <div class="input-field">
                    <div class="form-group">
                        <input type="text" placeholder = "search" class = "form-control">
                        <span class="fa fa-search"></span>
                    </div>
                </div>
            </h1>
            
            <div class="official">
                <div class="panel-group">
                    <div class="panel panel-default">
                      <div class="panel-heading">
                        <h4 class="panel-title">
                          <button class = "btn btn-success" data-toggle="collapse" data-target = "#ordinance1">Ordinance #1</button>
                        </h4>
                      </div>
                      <div id="ordinance1" class="panel-collapse collapse">
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries,</p>
                        <a href="" class "btn btn-success">Download PDF</a>
                      </div>
                    </div>
                    <div class="panel panel-default">
                      <div class="panel-heading">
                        <h4 class="panel-title">
                            <button class = "btn btn-success" data-toggle="collapse" data-target = "#ordinance2">Ordinance #1</button>
                        </h4>
                      </div>
                      <div id="ordinance2" class="panel-collapse collapse">
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries,</p>
                        <a href="" class "btn btn-success">Download PDF</a>
                      </div>
                    </div>
                    <div class="panel panel-default">
                      <div class="panel-heading">
                        <h4 class="panel-title">
                            <button class = "btn btn-success" data-toggle="collapse" data-target = "#ordinance2">Ordinance #1</button>
                        </h4>
                      </div>
                      <div id="ordinance2" class="panel-collapse collapse">
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries,</p>
                        <a href="" class "btn btn-success">Download PDF</a>
                      </div>
                    </div>
                    <div class="panel panel-default">
                      <div class="panel-heading">
                        <h4 class="panel-title">
                            <button class = "btn btn-success" data-toggle="collapse" data-target = "#ordinance2">Ordinance #1</button>
                        </h4>
                      </div>
                      <div id="ordinance2" class="panel-collapse collapse">
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries,</p>
                        <a href="" class "btn btn-success">Download PDF</a>
                      </div>
                    </div>
                    <div class="panel panel-default">
                      <div class="panel-heading">
                        <h4 class="panel-title">
                            <button class = "btn btn-success" data-toggle="collapse" data-target = "#ordinance2">Ordinance #1</button>
                        </h4>
                      </div>
                      <div id="ordinance2" class="panel-collapse collapse">
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries,</p>
                        <a href="" class "btn btn-success">Download PDF</a>
                      </div>
                    </div>
                    <div class="panel panel-default">
                      <div class="panel-heading">
                        <h4 class="panel-title">
                            <button class = "btn btn-success" data-toggle="collapse" data-target = "#ordinance2">Ordinance #1</button>
                        </h4>
                      </div>
                      <div id="ordinance2" class="panel-collapse collapse">
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries,</p>
                        <a href="" class "btn btn-success">Download PDF</a>
                      </div>
                    </div>
                    <div class="panel panel-default">
                      <div class="panel-heading">
                        <h4 class="panel-title">
                            <button class = "btn btn-success" data-toggle="collapse" data-target = "#ordinance2">Ordinance #1</button>
                        </h4>
                      </div>
                      <div id="ordinance2" class="panel-collapse collapse">
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries,</p>
                        <a href="" class "btn btn-success">Download PDF</a>
                      </div>
                    </div>
                    <div class="panel panel-default">
                      <div class="panel-heading">
                        <h4 class="panel-title">
                            <button class = "btn btn-success" data-toggle="collapse" data-target = "#ordinance2">Ordinance #1</button>
                        </h4>
                      </div>
                      <div id="ordinance2" class="panel-collapse collapse">
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries,</p>
                        <a href="" class "btn btn-success">Download PDF</a>
                      </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>