#profileTab{
    & #profile{
        background-color: #bfc4ca;
        background-repeat: no-repeat;
        background-size: contain;
        padding-bottom: 25%;
        background-position: -10% 100%;
        & .container{
            background-color: transparent;
            & .row{
                background-color: transparent;
                & .col-md-12{
                    background-color: transparent;
                    padding:2vh;
                    & #profile-header{
                        margin-bottom: 4vh;
                        & img{
                            width: 12vh;
                            height: 12vh;
                            display: inline-block;
                        }
                        & h3{
                            display: inline-block;
                            font-size: 4vh;
                            margin-bottom: 0;
                            position: relative;
                            top:30px;
                            color:#374254;
                        }
                    }
                    & p{
                        text-indent: 10vh;
                    }
                    
                }
            }
        }
    }
}


#demographicsTab{
    padding: 70px 5vw;
    background-color: #6E7681 transparent;
    background-image:url("/assets/images/economic_social/socialBackground.jpg");
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    .accordionContents{
        .sectorName{
            color: #374254;
        }
        .sectorName:after{
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 25px 0 25px 90px;
            border-color: transparent transparent transparent #fdc200;
            z-index: 3;
        }
        .accordionPanel{
            .divLabel{
                background-color: #61B873;
                margin-bottom: 5px;
                position: relative;
                // padding: 2vw 1vw;
                .icon{
                    width: 4vw;
                    height: 4vw;
                    margin: auto 0;
        
                    position: relative;
                    background: #FDC100;
                    .iconImg{
                        width: 4vw;
                        height: 4vw;
                        margin: auto 0;
                        position: relative;
                        background: #FDC100;
                    }
                    .iconImg2{
                        padding: 0.5vw;
                    }
                }
                .icon:after, .icon:before{
                    left: 91%;
                    top: 60%;
                    border: solid transparent;
                    content: " ";
                    height: 0;
                    width: 0;
                    position: absolute;
                    pointer-events: none;
                }
                .icon:after{
                    border-color: rgba(136, 183, 213, 0);
                    border-left-color: #FDC100;
                    border-width: 2vw 0 2vw 1vw;
                    margin-top: -2vw;
                }
                .icon:before{
                    border-color: rgba(194, 225, 245, 0);
                    border-left-color: #FDC100;
                    border-width: 2vw 0 2vw 1vw;
                    margin-top: -2vw;
                }
                h3{
                   margin-left: 3vw;
                   vertical-align: middle;
                    display: inline;
                    text-transform: uppercase;
                    color: #374254;
                }
            }
            .contents{
                padding: 1vw 4vw;
                background-color: #6E7681;
                height:auto;
                font-family: sans-serif;
                .tableHeading{
                    color: white;
                    text-align: center;
                    font-size: 1.4vw;
                    font-weight: bold;
                }
                .tableHeadingLeft{
                    text-align: left !important;
                }
                .pContents{
                    font-size: 1.4vw;
                    color: white;
                }
                table{
                    width: 100%;
                    margin-bottom: 20px;
                    tr{
                        td{
                            font-size: 1.3vw;
                            padding:1.5vw 4vw;
                            border-right: 2px solid #6E7681;
                            // text-transform: uppercase;
                            // color: #374254;
                        }
                        .tdCentered{
                            text-align: center;
                        }

                        th{
                            font-size: 1.3vw;
                            padding:1.5vw 4vw;
                            border-right: 2px solid #6E7681;
                            // text-transform: uppercase;
                            text-align: center;
                            font-weight: bold;
                            // color: #374254;
                        }
                    }
                    tr:nth-child(odd){
                        background-color: #B8B8B8;
                    }
                    tr:nth-child(even){
                        background-color: #E5E5E5;
                    }
                }
            }
        }
    }    
}
#physicalFeatures{
    padding: 70px 10vw;
    background-image:url("/assets/images/economic_social/socialBackground.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    .info{
        .areaInfo{
            font-weight: bold;
            display: block;
            margin: 5px 0;
            text-transform: uppercase;
        }
        .areaInfoQ{
            text-align: center;
        }
        .areaInfoA{
            text-align: left;
        }
    }
    .landUse{
        margin-top: 30px;
        table{
            margin-bottom: 50px;
            tr{
                font-size: 1.5em;
                th{
                    background-color: #61B873;
                    font-weight: bold;
                    text-align: center;
                    border:1px solid black;
                }
                th:first-child{
                    text-align: left !important;
                }
                td{
                    text-align: center;
                    border:1px solid black;
                    background-color: #E5E5E5;
                    ul{
                        li{
                            width: 50%;
                            margin: 0 auto;
                        }
                    }
                }
                td:first-child{
                    text-align: left !important;
                }
            }
            tr:last-child{
                td{
                    font-weight: bold !important;
                }
                td:first-child{
                    text-align: right !important;
                }
            }
        }
    }
    .topographyHeading{

    }
    .topographyDescription{
        text-indent: 3em;
        font-size: 2em;
    }
}