#departmentPage{
    .departmentLabel{
        background-color: #374254;
        height: 100px;
        // margin-left: -15px;
        // margin-right: -15px;
        margin-bottom: 50px;
        width: 100%;
        .container-custom{
            margin-left: 50px;
            margin-right: 50px;
            
            #iconDepartment{
                width: 70px;
                margin-top: -5px;
                display: inline-block;
            } 
            #departmentTitle{
                color: #ffffff;
            }
        }
        
    }
    #imgSize{
        width: 250px;

    }
    .btn-custom{
        background-color: #374254;
        width: 100%;
        height: 50px;
        border: none;
        border-radius: 0;
        color: #ffffff;
        outline: none;
    }
    .btn:hover{
        background-color: #f0b503;
        color: #374254;
    }
    .label-height{
        height: 7.5vw;
    }
    .labelMDRRM{
        height:3vw !important;
    }
    .labelFontSize{
        font-size:1.5vw;
    }
}

@media(max-width:375px){
    #iconDepartment{
        width: 50px !important;
        margin-top: -5px;
        display: inline-block;
    }
    h3{
        font-size: 20px;
    }
    .label-height{
        height: 50px;
    }
    .btn-custom{
        background-color: #374254;
        width: 100%;
        height: 50px;
        border: none;
        border-radius: 0;
        color: #ffffff;
        outline: none;
    }
}

@media(max-width:414px){
    #iconDepartment{
        width: 50px !important;
        margin-top: -5px;
        display: inline-block;
    }
    .btn-custom{
        background-color: #374254;
        width: 100%;
        height: 50px;
        border: none;
        border-radius: 0;
        color: #ffffff;
        outline: none;
    }
}
@media(max-width:320px){
    #iconDepartment{
        width: 40px !important;
        margin-top: -5px;
        display: inline-block;
    }
    h1{
        font-size: 20px;
    }
    .btn-custom{
        background-color: #374254;
        width: 100%;
        height: 50px;
        border: none;
        border-radius: 0;
        color: #ffffff;
        outline: none;
    }
    .departmentLabel{
        background-color: #374254;
        height: 50px;
        // margin-left: -15px;
        // margin-right: -15px;
        margin-bottom: 50px;
        width: 100%;
    }
}

#departmentSection{
    color:#374254;
    width: 100%;
    height: auto;
    .departmentLabel{
        background-color: #374254;
        height: 100px;
        // margin-left: -15px;
        // margin-right: -15px;
        margin-bottom: 50px;
        padding: 0 7vw;
        width: 100%;
        .iconDepartment{
            width: 70px;
            margin-top: -5px;
            display: inline-block;
        } 
        .budgetTitle{
            color: white;
            display: inline-block;
            font-size:2.5vw;
        }
    }
    .departmentContent{
        padding: 0 7vw;
        .deptPersonInfo{
            .deptProfile{
                width: 100%;
                height:28vw;
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center;
            }
            .deptOfficer1{
                background-image: url("../images/department/departmentSection/budgetProfile.jpg");
            }

            .deptOfficer2
            {
                background-image: url("../images/department/departmentSection/planningAndDevelopmentOfficer.jpg");
            }
            .deptOfficer3{
                background-image: url("../images/department/departmentSection/accountant.jpg");
            }
            .deptOfficer4{
                background-image: url("../images/department/departmentSection/civilRegistrar.jpg");
            }
            .deptOfficer5{
                background-image: url("../images/department/departmentSection/assessor.jpg");
            }
            .deptOfficer6{
                background-image: url("../images/department/departmentSection/socialWelfareAndDevelopmentOfficer.jpg");
            }
            .deptOfficer7{
                background-image: url("../images/department/departmentSection/agriculturist.jpg");
            }
            .deptOfficer8{
                background-image: url("../images/department/departmentSection/treasurer.jpg");
            }
            .deptOfficer9{
                background-image: url("../images/department/departmentSection/secretary.jpeg");
            }
            .deptOfficer10{
                background-image: url("../images/department/departmentSection/healthOfficer.jpeg");
            }
            .deptOfficer11{
                background-image: url("../images/department/departmentSection/engineer.jpeg");
            }
            .deptOfficer12{
                background-image: url("../images/department/departmentSection/admin.jpeg");
            }
            .deptOfficer13{
                background-image: url("../images/department/departmentSection/mdrrm.jpg");
            }
            .deptName{
                font-weight: bold;
                font-size: 3vw;
                text-transform: uppercase;
            }
            .deptDesignation{
                font-size:2.5vw;
            }
            .phoneNumber{
                font-size: 2vw;
                font-weight: bold;
            }
            .iconPhone{
                width: 50px;
            }
            .dept-details{
                margin-top: 100px;
                // // margin-left: 50px;
                // padding-left: 5%;
                .deptContact{
                    font-weight: bold;
                    font-size:2.5vw;
                }
                .email{
                    font-size:2.5vw;
                }
                .fax{
                    font-size: 2.5vw;
                }
            }
        }
        .textCaption{
            margin-top: 100px;
            .text{
                p{
                    font-size:1.5em;
                    text-align: justify;
                    text-indent: 2em;
                    margin-bottom: 50px;
                }
            }
        }
        .function{
            .functionHeader{
                font-weight: bold;
                font-size:2.5vw;
            }
            .functionText{
                font-size: 1.6em;
                text-align: justify;
                text-indent: 2em;
            }
            .functionUL{
                .functionList{
                    font-size: 1.6em;
                    text-align: justify;
                    margin-left: 3vw;
                }
            }
        }

        .missionVission{
            
        }
       
        .contact-text{
            .contact-title{
                text-align: left;
                font-size:2.5vw;
                font-weight: bold;
                margin-bottom: 50px;
            }
            .contactInfos{
                .contactDetails{
                    h2{
                        margin:5px 0;
                        font-size:2vw;
                    }
                }
                .contactDetails:first-child{
                    h2{
                        text-align: left;
                    }
                }
                .contactDetails:nth-child(2){
                    h2{

                    }
                }
                .contactDetails:nth-child(3){
                    h2{
                        text-align: right;
                    }
                }
            }
        }
        .gallery{
            margin: 70px 0;
            .slick-current + .slick-active{
                .officeGallery{
                    padding-top: 1%;
                    transition: padding 0.5s;
                    .officePic{
                        width: 100%;
                        height: 22vw;
                        transition: width 1s;
                        transition: height 1s;
                    }
                }
            }
            .officeGallery{
                padding-top: 5%;
                transition: padding 0.5s;
                .officePic{
                    margin: 0 auto;
                    width: 80%;
                    height: 20vw;
                    transition: width 0.5s;
                    transition: height 0.5s;
                    background-size: cover;
                    background-repeat: no-repeat;
                    background-position: center;
                }
                .officePic1{
                    background-image: url("/assets/images/department/departmentSection/1.jpg");
                }
                .officePic2{
                    background-image: url("/assets/images/department/departmentSection/2.jpg");
                }
                .officePic3{
                    background-image: url("/assets/images/department/departmentSection/3.jpg");
                }
                .officePic4{
                    background-image: url("/assets/images/department/departmentSection/2.jpg");
                }
                .officePic5{
                    background-image: url("/assets/images/department/departmentSection/3.jpg");
                }
                p{
                    margin: 0 auto;
                    width: 80%;
                    font-size: 1.5em;
                    text-align: center;
                }
            }

            .function-desc {
                margin-bottom: 50px;
              }
              
              .letter-list {
                list-style-position: inside;
              }
              
            //   .number-list {
            //     list-style-type: 
            //   }
              
              .mission-vision-title {
                background-color: #ffd15d;
                padding: 20px;
                text-align: right;
                margin-right: 10px;
              }
              .mission-vision-title h3 {
                padding: 0;
                margin: 0;
              }
              
              .mission-vision-bar {
                background-color: #374254;
                height: 65px;
                width: 70%;
              }
              
              .mission-vision-content {
                padding: 20px 200px;
              }
              
              .team-pic {
                margin: 0 auto;
                width: 80%;
              }
              
              .dept-head img,
              .dept-personnel img {
                border-radius: 100%;
                margin: 0 auto;
              }
              
              .dept-personnel {
                margin: 0 auto;
              }
            
        }
    }  
}
    

