#departmentPage{
    .departmentLabel{
        background-color: #374254;
        height: 100px;
        // margin-left: -15px;
        // margin-right: -15px;
        margin-bottom: 50px;
        width: 100%;
        .container-custom{
            margin-left: 50px;
            margin-right: 50px;
            
            #iconDepartment{
                width: 70px;
                margin-top: -5px;
                display: inline-block;
            } 
            #departmentTitle{
                color: #ffffff;
            }
        }
        
    }
    #imgSize{
        width: 250px;

    }
    .btn-custom{
        background-color: #374254;
        width: 100%;
        height: 50px;
        border: none;
        border-radius: 0;
        color: #ffffff;
        outline: none;
    }
    .btn:hover{
        background-color: #f0b503;
        color: #374254;
    }
    .label-height{
        height: 70px;
    }
}

@media(max-width:375px){
    #iconDepartment{
        width: 50px !important;
        margin-top: -5px;
        display: inline-block;
    }
    h3{
        font-size: 20px;
    }
    .label-height{
        height: 50px;
    }
    .btn-custom{
        background-color: #374254;
        width: 100%;
        height: 50px;
        border: none;
        border-radius: 0;
        color: #ffffff;
        outline: none;
    }
}

@media(max-width:414px){
    #iconDepartment{
        width: 50px !important;
        margin-top: -5px;
        display: inline-block;
    }
    .btn-custom{
        background-color: #374254;
        width: 100%;
        height: 50px;
        border: none;
        border-radius: 0;
        color: #ffffff;
        outline: none;
    }
}
@media(max-width:320px){
    #iconDepartment{
        width: 40px !important;
        margin-top: -5px;
        display: inline-block;
    }
    h1{
        font-size: 20px;
    }
    .btn-custom{
        background-color: #374254;
        width: 100%;
        height: 50px;
        border: none;
        border-radius: 0;
        color: #ffffff;
        outline: none;
    }
    .departmentLabel{
        background-color: #374254;
        height: 50px;
        // margin-left: -15px;
        // margin-right: -15px;
        margin-bottom: 50px;
        width: 100%;
    }
}