#eventPage{
    position: relative;
    top: -60px;
    #eventHeader{
        background-color: #EDEADB;
        padding: 30px;
        border-top: 23px solid #61B873;
        #imgEventHeader{
            height: auto;
            width: 120px;
            position: absolute;
            right: 0;
            top: -34px;
        }    
        #iconEvenCalendar{
            width: 35px;
            position: absolute;
        }    
        #eventTitle{
            margin-left: 40px;
        }
    }
    .event-border{
        border: 2px solid #EDEADB;
    }
    .input-form{
        position: relative;
        &.icon-right{
            i{
                position: absolute;
                right: 10px;
                top: 10px;
            }
            input{
                padding-right: 30px;
            }
        }
    } 
    .event-image{
        background-image: url('../images/banner.jpg');
        background-position: center;
        background-size: cover;
        width: 100%;
        height: 300px;
    }
    .event-calendar{
        background-color: #61B873;
        width: 100%;
        height: auto;
        padding: 15px;
        text-align: center;
    }
    .event-item{
        div:nth-child(3){
            margin-top:8em;
        }
        .event-date{
            margin: 0;
            background: white;
            padding: 5px;
            font-weight: bolder;
        }
        .event-year{
            margin: 0;
            padding: 5px;
            color: #FFF202;
            font-weight: bolder;
            font-size: 3em;
            margin-top: 5px;
            text-shadow: 0px 3px 2px rgba(0, 0, 0, 1);
        }
    }
    .past-event{
        -webkit-filter: grayscale(100%);
        filter: grayscale(100%);
    }

    @media screen and (max-width: 768px) {
        .event-item{
            div:nth-child(3){
                margin-top:0;
            }
        }
    }
}