@media (max-width:950px) {
    .navbar-nav{
        display: none;
    }
    .navbar{
        & .container{
            & .navbar-header{
                & .navbar-brand{
                    & img{
                        height:50px;
                        width: 200px;
                    }
                } 
            }
            & .collapse{
                & .nav{
                    & .nav-item{
                        & .nav-link{
                            font-size: 1.1em;
                        }
                    }
                }
            }
        }
    }
    #bannerimage{
        & .bannercontent{
            background-size: cover;
        }
    }
    #welcome{
        & .col-md-6{
            & #welcometext{
                & h2{
                    line-height: 40px;
                    font-size: 4em;
                }
                & h2:first-letter{
                    font-size: 1.5em;
                    padding-right: 2px;
                }
                & h2:last-child{
                    right:-20px;
                }
            }
        }
    }
    #about{
        & .overlay{
            height: 100%;
        }
        & #bannerimage{
            height:278px;
            & .bannercontent{
                height:278px;
            }
        }
        & .col-md-8{
            & h2{
                font-size: 2em;
            }
            & p{
                font-size: 1em;
            }
            & a{
                font-size: 1em;
            }
        }
    }
    .navbar-header{
        width: 100%;
    }
    .navbar-toggle{
        display: block;
    }
}
@media (max-width: 1400px) AND (min-width:1024px){
    .navbar{
        height: 80px;
        border:none;
        & .container{
            & .navbar-header{
                & button{
                    margin-top: 28px;
                    border:none;
                }
                & button:hover{
                    background-color: transparent;
                    & .icon-bar{
                        background-color: #000;
                    }
                }
                & .navbar-brand{
                    padding-top:2%;
                    & img{
                        height:60px;
                        width: 280px;
                    }
                } 
            }
            & .collapse{
                //margin-top: 17px !important;
                & .nav{
                    margin-top: 0;
                    & .nav-item{
                        & .nav-link{
                            font-size: 1.3em;
                            color:#fff;
                            font-family: monseratReg;
                        }
                    }
                }
            }
        }
    }
    #bannerimage{
        position: absolute;
        margin-bottom: 0 !important;
        height: 100vh;
        width: 100%;
        & .slick-dots{
            bottom:5px;
            z-index: 2;
            & li{
                border:2px solid #eee;
                border-radius: 99%;
                height: 12px;
                width: 12px;
                & button:before{
                    font-size: 12px;
                    color:transparent;
                }
            }
            & .slick-active{
                background-color:#eee;
            }
        }
        & .bannercontent{
            height: 100vh;
            width: 100%;
            background-size: cover;
            background-repeat: no-repeat;
        }
    }
    #about{
        position: relative;
        height: 100%;
        padding:4% 0;
        background-size: cover;
        & .overlay{
            position: absolute;
            top:0;
            left: 0;
            background-color: #000;
            height: 100%;
            width: 100%;
            z-index: 1;
            opacity: .5;
        }
        & .container{
            width: 90vw;
            & .col-md-8{
                height: 100%;
                position: relative;
                z-index: 2;
                text-align: center;
                & h2{
                    text-align: center;
                    font-size: 2.8em;
                    font-family: monseratReg;
                    color:#fff;
                    & span{
                        color:#fff000;
                    }
                }
                & p{
                    text-align: justify;
                    padding:20px 40px 0 40px;
                    font-family: Century Gothic;
                    color:#fff;
                    font-size: 1.2em;
                    & span{
                        padding-left: 50px;
                    }
                }
                & a{
                    border:none;
                    font-size: 1.2em;
                    background-color: #19b197;
                    font-family: Arial Rounded MT;
                    font-weight: bold;
                    border-radius: 30px;
                    padding:3px 20px;
                }
                & a:hover{
                    background-color: #fcc621;
                    transition: all .3s ease-in-out,.5s ease-in-out;
                }
            }
        }    
    }
    #serve{
        padding: 4% 0;
        height: 100%;
        width: 100%;
        & h2{
            padding-bottom: 2%;
            text-align: center;
            font-family: monseratSemi;
            & span{
                color:#11bfa0;
            }
        }
        & .row{
            max-width: 80% !important;
            margin:0 auto;
            & .col-md-3{
                margin-bottom: 40px;
                text-align: center;
                & h3{
                    font-size:2em !important;
                    font-family: Arial, Helvetica, sans-serif;
                }
                & .serveimage{
                    & img{
                        // border:2px solid #eee;
                        // height: 150px;
                        // width: 150px;
                    }
                }
                
                & p{
                    font-family: Century Gothic;
                    font-size: 1.3em;
                }
                & a{
                    border:none;
                    font-size: 1.2em;
                    background-color: #19b197;
                    font-family: Arial Rounded MT;
                    font-weight: bold;
                    border-radius: 30px;
                    padding:3px 20px;
                    margin-bottom: 4%;
                }
            }
            & .col-md-3:hover{
                & img{
                    // border:2px solid #11bfa0;
                    transition: all .5s ease-in-out,.5s ease-in-out;
                    
                }
                & a{
                    background-color: #fcc621;
                    transition: all .5s ease-in-out,.5s ease-in-out;
                }
            }
        }
    }
    #view{
        height: 100%;
        width: 100%;
        position: relative;
        & .overlay{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: #000;
            opacity: .6;
        }
    }
    #tourist{
        width: 100%;
        height: 100%;
        #spot{
            width: 100%;
            height: 60vh;
            display: flex;
            & #image-left{
                width: 30%;
                display: flex;
                flex-grow: 1;
                flex-direction: column;
                & .imagecontent{
                    flex-grow: 1;
                    width: 100%;
                    height: 50%;
                    position: relative;
                    overflow: hidden;
                    & .imagehover{
                        width: 100%;
                        height: 100%;
                        position: relative;
                        & .overlay{ @include overlay()}
                    & img{
                        width: 100%;
                        height: 100%;
                    }
                    & .info{ @include info()}
                    
                    }
                    & .imagehover:hover{
                        & .overlay{
                            opacity: .6;
                            transition: opacity .3s ease-in-out, opacity .5s ease-in-out;
                        }
                        & .info{
                            top:0;

                            transition: top .3s ease-in-out, top .5s ease-in-out;
                        }
                    }
                }
            }
            & #center-image{
                flex-grow: 2;
                width: 40%;
                position: relative;
                overflow: hidden;
                & .imagehover{
                    width: 100%;
                    height: 100%;
                & .overlay{ @include overlay()}
                & img{
                    width: 100%;
                    height: 100%;
                }
                & .info{ @include info()}
            }
                & .imagehover:hover{
                    & .overlay{
                        opacity: .6;
                        transition: opacity .3s ease-in-out, opacity .5s ease-in-out;
                    }
                    & .info{
                        top:0;

                        transition: top .3s ease-in-out, top .5s ease-in-out;
                    }
                }
            }
            & #image-right{
                display: flex;
                width: 30%;
                flex-direction: column;
                flex-grow: 1;
                & .imagecontent{
                    overflow: hidden;
                    width: 100%;
                    height: 50%;
                    flex-grow: 1;
                    position: relative;
                    & .imagehover{
                        width: 100%;
                    & .overlay{ @include overlay()}
                    & img{
                        width: 100%;
                        height: 100%;
                    }
                    & .info{ @include info()}
                }
                    & .imagehover:hover{
                        & .overlay{
                            opacity: .6;
                            transition: opacity .3s ease-in-out, opacity .5s ease-in-out;
                        }
                        & .info{
                            top:0;

                            transition: top .3s ease-in-out, top .5s ease-in-out;
                        }
                    }
                }
            }
        }
        & #spot2{
            display: flex;
            width: 100%;
            height: 40vh;
            & .image-content{
                flex-grow: 1;
                width: 33.33%;
                height: 100%;
                position: relative;
                overflow: hidden;
                & .imagehover{
                    height: 100%;
                    width: 100%;
                & img{
                    width: 100%;
                    height: 100%;
                }
                & .overlay{ @include overlay()}
                & .info{ @include info()}
            }
                & .imagehover:hover{
                    & .overlay{
                        opacity: .6;
                        transition: opacity .3s ease-in-out, opacity .5s ease-in-out;
                    }
                    & .info{
                        top:0;
                        transition: top .3s ease-in-out, top .5s ease-in-out;
                
            }
        }
    }
}
    }
    #map{
        position: relative;
        height: 100%;
        width: 100%;
        & iframe{
            position: absolute;
            top:0;
            left: 0;
        }
        & .col-md-4{
            height: 100%;
            padding-top: 5%;
            & #touch{
                font-family: Century Gothic;
                border-radius: 10px;
                height: 360px;
                width: 290px;
                padding:2% 5%;
                max-width: 70%;
                background-color: #51cab2;
                & h2{
                    font-weight: bold;
                    text-align: center;
                    font-size: 1.8em;
                }
                & form{
                    height: 100%;
                    width: 100%;
                    & .form-group{
                        margin-bottom: 10px;
                    }
                    & input{
                        font-size: 0.7em !important;
                        height: 28px;
                    }
                    & p{
                        width: 100%;
                        text-align: right;
                        & a{
                            background-color: #dfd047;
                            color:#000;
                        }
                    }
                }
                
    
            }
        }
    }
    footer{
        width: 100%;
        padding: 2% 0;
        background-color: #374354;
        height: 25%;
        color:#fff;
        & .container{
            & .row{
                & .col-xs-12{
                    & img{
                        width: 80%;
                    }
                }
                & .col-md-6{
                    margin-bottom:2%;
                    & a{
                        display: block;
                        color:inherit;
                    }
                }
                & .col-md-3{
                    & p{
                        & a{
                            & i{
                                color:#000;
                                font-size: 2em;
                                border-radius: 100%;
                                background-color: #fff;
                                padding:8px;
                            }
                        }
                    }
                }
            }
        }
    }
    
}
@media (max-width:650px) AND (min-width: 450px){
    #tourist{
        #spot{
            width: 100%;
            height: 100%;
            display: block;
            & #image-left{
                width: 100%;
                display: block;
                height: 100vh;
                & .imagecontent{
                    width: 100%;
                    height: 50vh;
                }
            }
            & #center-image{
                width: 100%;
                height: 50vh;
            }
            & #image-right{
                display: block;
                height: 100vh;
                width: 100%;
                & .imagecontent{
                    height: 50vh;
                    width: 100%;
                }
            }
        }
        & #spot2{
            display: block;
            width: 100%;
            height: 100vh;
            & .image-content{
                width: 100%;
                height: 50vh;
            }
        }
    }
}
@media (max-width:1024px) AND (min-width:768px){
    .navbar{
        & .container{
            max-width: 100%;
            width: 100%;
            & .collapse{
                & .nav{
                    & .nav-item{
                        margin-right: 2px;
                    }
                }
                & .navbar-right{
                    float: none !important;

                }
            }
        }
    }
    #welcome{
        & .col-md-6{
            height: 100%;
            width: 100%;
            & #welcometext{
                width: 100%;
                position: absolute;
                bottom:10vh;
                text-align: center;
                left: 0;
                & h2{
                    text-align: center;
                    color:#fff;
                    line-height: .8em;
                    font-size: 8vw;
                    font-family: Trojan Pro;
                }
                & h2:first-letter{
                    font-family: Messenger;
                    color:#fff200;
                    font-size:1.2em;
                    padding-right: 2px;
                }
                & h2:last-child{
                    position: relative;
                    right:-20px;
                }
                & a{
                    
                    //max-width: 80%;
                    margin: 0 auto;
                    border:none;
                    font-size: 3vh;
                }
                & #learn{
                    margin: 0 auto;
                }
            }
        }
    }
    #view{
        height: 100%;
        width: 100%;
        padding:5%;
        background-size: cover;
        & .row{
            & #contentview{
                & h2{
                    font-size: 3.1em;
                }
                & #box2{
                    & #box1{
                        & #contentdesc{
                            & p{
                                text-align: center;
                            }
                            & a{
                                font-size: 2vh;
                                width:50%;
                                margin-bottom: 3%; 
                            }
                            & a:hover{
                                background-color: #fcc621;
                                text-decoration: none;
                                transition: all .3s ease-in-out,.5s ease-in-out;
                            }
    
                        }
                    }
                }
            }
        }
    }
    #tourist{
        & #spot{
            & #image-right{
                & .imagecontent{
                    & .imagehover{
                        height: 100%;
                    }
                }
            }
        }
    }
}
@media (max-width:768px) AND (min-width:450px){
    .navbar{
        padding: 0 5%;
        & .container{
            max-width: 90%;
            & .collapse{
                display: none !important;
            }
        }
    }
    #bannerimage{
        & .slick-dots{
            bottom:5vw;
            z-index: 2;
            & li{
                border:0.3vh solid #eee;
                border-radius: 99%;
                height: 2vh;
                width: 2vh;
                & button:before{
                    font-size: 12px;
                    color:transparent;
                }
            }
        }
    }
    #welcome{
        & .col-md-6{
            height: 100%;
            & #welcometext{
                width: 98%;
                position: absolute;
                bottom:10vh;
                text-align: center;
                left: 0;
                & h2{
                    text-align: center;
                    color:#fff;
                    line-height: .8em;
                    font-size: 8vw;
                    font-family: Trojan Pro;
                }
                & h2:first-letter{
                    font-family: Messenger;
                    color:#fff200;
                    font-size:1.2em;
                    padding-right: 2px;
                }
                & h2:last-child{
                    position: relative;
                    right:-20px;
                }
                & a{
                    display: block;
                    max-width: 50%;
                    margin: 0 auto;
                    border:none;
                    font-size: 3vh;
                }
                & #learn{
                    margin: 0 auto;
                    margin-bottom: 2%;
                }
            }
        }
    }
    #view{
        height: 100%;
        width: 100%;
        padding:5%;
        background-size: cover;
        & .row{
            & #contentview{
                & h2{
                    font-size: 3.1em;
                }
                & #box2{
                    & #box1{
                        & #contentdesc{
                            & p{
                                text-align: center;
                            }
                            & a{
                                font-size: 2vh;
                                width:60%;
                                margin-bottom: 3%; 
                            }
                            & a:hover{
                                background-color: #fcc621;
                                text-decoration: none;
                                transition: all .3s ease-in-out,.5s ease-in-out;
                            }
    
                        }
                    }
                }
            }
        }
    }
    #tourist{
        & #image-right{
            & .imagecontent{
                height: 100%;
                & .imagehover{
                    height: 100%;
                }
            }
        }
    }
    #map{
        height: 100%;
        & .col-md-4{
            & #touch{
                margin: 0 auto;
            }
        }
    }
    footer{
        & .container{
            & .row{
                & .col-xs-12{
                   
                    & img{
                        width: 50%;
                    }
                }
                & .col-xs-12:last-child{
                    & .social{
                        justify-content: center;
                    }
                }
            }
        }
    }
}
@media (max-width:450px){
    #about{
        & .container{
            & .col-md-8{
                & p{
                    padding:2%;
                }
            }
        }
    }
    
    #map{
        & .col-md-4{
            & #touch{
                margin: 0 auto;
                max-width: 90%;
            }  
        } 
    }
    .navbar{
        & .container{
            & .navbar-header{
                & .navbar-brand{
                    & img{
                        width: 180px;
                    }
                }
            }
        }
    }
    #welcome{
        & .col-md-6{
            height: 100%;
            & #welcometext{
                width: 98%;
                position: absolute;
                bottom:10vh;
                text-align: center;
                left: 0;
                & h2{
                    text-align: center;
                    color:#fff;
                    line-height: .8em;
                    font-size: 4em;
                    font-family: Trojan Pro;
                }
                & h2:first-letter{
                    font-family: Messenger;
                    color:#fff200;
                    font-size:1.2em;
                    padding-right: 2px;
                }
                & h2:last-child{
                    position: relative;
                    right:-20px;
                }
                & a{
                    display: block;
                    max-width: 50%;
                    margin: 0 auto;
                    border:none;
                    font-size: 3vh;
                }
                & #learn{
                    margin: 0 auto;
                    margin-bottom: 2%;
                }
            }
        }
    }
    #serve{
        & h2{
            font-size: 1.5em;
        }
    }
    #view{
        height: 100%;
        width: 100%;
        padding:5%;
        background-size: cover;
        & .row{
            & #contentview{
                & h2{
                    font-size: 3.1em;
                }
                & #box2{
                    & #box1{
                        & #contentdesc{
                            & h3{
                            }
                            & p{
                                text-align: center;
                            }
                            & a{
                                font-size: 2vh;
                                width:80%;
                                margin-bottom: 3%; 
                            }
                            & a:hover{
                                background-color: #fcc621;
                                text-decoration: none;
                                transition: all .3s ease-in-out,.5s ease-in-out;
                            }
    
                        }
                    }
                }
            }
        }
    }
    @mixin overlay1(){
        opacity: .5;
    }
    @mixin info1(){
        top: 0;
        & p{
            font-size: 3vh;
        }
    }
    #tourist{
        & #spot{
            display: block;
            width: 100%;
            height: 100%;
            & #image-left, & #image-right, & #center-image{
                display: block;
                width: 100%;
                height: 100%;
                & .imagecontent{
                    display: block;
                    height: 100%;
                    & .imagehover{
                        & .overlay{ @include overlay1()}
                        & .info{@include info1()}
                    }
                }
                & .imagehover{
                    & .overlay{ @include overlay1()}
                    & .info{@include info1()}
                }
            }
        }
        & #spot2{
            display: block;
            width: 100%;
            height: 100%;
            & .image-content{
                width: 100%;
                height: 100%;
                display: block;
                & .imagehover{
                    & .overlay{ @include overlay1()}
                    & .info{@include info1()}
                }
            }
        }
    }
    #map{
        & .col-md-5{
            & #touch{
                margin: 0 auto;
            }
        }
    }
    footer{
        & .container{
            width: 90vw;
            & .row{
                & .col-md-3{
                    & .social{
                        width: 100%;
                        height: 100%;
                        display: flex;
                        justify-content: center;   
                    }
                }
            }
        }
    }
}

@media screen and (max-height:414px) {
    .slick-dots{
        display: none !important;
    }
}

@media screen and (max-width:768px) {
    #followUs{
        text-align: center;
    }
}

@media screen and (max-height:272px) {
    
    #welcome .col-md-6 #welcometext {
        bottom: 2vh !important;
        h2{
            font-size: 8vw !important;
        }
    }
}


