<ng-include src="'assets/app/template/partial/banner-half.html'"></ng-include>
<div id="departmentPage">
    <section class="container-fluid departmentLabel">
        <div class="container-custom">
            <h1 id="departmentTitle"><img class="img-responsive" id="iconDepartment" src="assets/images/department/department-icon.png" alt=""> Departments</h1>
        </div>
    </section>
    <section class="container">
        <section class="container-custom">
            <div class="row">
                <div class="col-sm-6 col-md-3 text-center padding-left-50 padding-right-50 padding-bottom-25">
                    <img id="imgSize" class="center-block img-responsive" src="assets/images/department/budget.png" alt="">
                    <h3 class="label-height labelFontSize text-uppercase"><strong>Municipal Budget Officer</strong></h3>
                    <a ui-sref="departmentSection({departmentId:1})"><button class="btn btn-custom">View Detail</button></a>
                </div>
                <div class="col-sm-6 col-md-3 text-center padding-left-50 padding-right-50 padding-bottom-25">
                    <img id="imgSize" class="center-block img-responsive" src="assets/images/department/planning.png" alt="">
                    <h3 class="label-height labelFontSize text-uppercase"><strong>MPDO</strong></h3>
                    <a ui-sref="departmentSection({departmentId:2})"><button class="btn btn-custom">View Detail</button></a>
                </div>
                <div class="col-sm-6 col-md-3 text-center padding-left-50 padding-right-50 padding-bottom-25">
                    <img id="imgSize" class="center-block img-responsive" src="assets/images/department/accountant.png" alt="">
                    <h3 class="label-height labelFontSize text-uppercase"><strong>Municipal Accountant</strong></h3>
                    <a ui-sref="departmentSection({departmentId:3})"><button class="btn btn-custom">View Detail</button></a>
                </div>
                <div class="col-sm-6 col-md-3 text-center padding-left-50 padding-right-50 padding-bottom-25">
                    <img id="imgSize" class="center-block img-responsive" src="assets/images/department/registrar.png" alt="">
                    <h3 class="label-height labelFontSize text-uppercase"><strong>Civil Registrar</strong></h3>
                    <a ui-sref="departmentSection({departmentId:4})"><button class="btn btn-custom">View Detail</button></a>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 col-md-3 text-center padding-left-50 padding-right-50 padding-bottom-25">
                    <img id="imgSize" class="center-block img-responsive" src="assets/images/department/assessor.png" alt="">
                    <h3 class="label-height labelFontSize text-uppercase"><strong>Municipal Assessor</strong></h3>
                    <a ui-sref="departmentSection({departmentId:5})"><button class="btn btn-custom">View Detail</button></a>
                </div>
                <div class="col-sm-6 col-md-3 text-center padding-left-50 padding-right-50 padding-bottom-25">
                    <img id="imgSize" class="center-block img-responsive" src="assets/images/department/social.png" alt="">
                    <h3 class="label-height labelFontSize text-uppercase"><strong>MSWDO</strong></h3>
                    <a ui-sref="departmentSection({departmentId:6})"><button class="btn btn-custom">View Detail</button></a>
                </div>
                <div class="col-sm-6 col-md-3 text-center padding-left-50 padding-right-50 padding-bottom-25">
                    <img id="imgSize" class="center-block img-responsive" src="assets/images/department/agri.png" alt="">
                    <h3 class="label-height labelFontSize text-uppercase"><strong>Municipal Agriculturist</strong></h3>
                    <a ui-sref="departmentSection({departmentId:7})"><button class="btn btn-custom">View Detail</button></a>
                </div>
                <div class="col-sm-6 col-md-3 text-center padding-left-50 padding-right-50 padding-bottom-25">
                    <img id="imgSize" class="center-block img-responsive" src="assets/images/department/treasurer.png" alt="">
                    <h3 class="label-height labelFontSize text-uppercase"><strong>Municipal Treasurer</strong></h3>
                    <a ui-sref="departmentSection({departmentId:8})"><button class="btn btn-custom">View Detail</button></a>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 col-md-3 text-center padding-left-50 padding-right-50 padding-bottom-25">
                    <img id="imgSize" class="center-block img-responsive" src="assets/images/department/secretary.png" alt="">
                    <h3 class="label-height labelFontSize text-uppercase"><strong>SB Secretary – Designate</strong></h3>
                    <a ui-sref="departmentSection({departmentId:9})"><button class="btn btn-custom">View Detail</button></a>
                </div>
                <div class="col-sm-6 col-md-3 text-center padding-left-50 padding-right-50 padding-bottom-25">
                    <img id="imgSize" class="center-block img-responsive" src="assets/images/department/health.png" alt="">
                    <h3 class="label-height labelFontSize text-uppercase"><strong>Municipal Health Officer</strong></h3>
                    <a ui-sref="departmentSection({departmentId:10})"><button class="btn btn-custom">View Detail</button></a>
                </div>
                <div class="col-sm-6 col-md-3 text-center padding-left-50 padding-right-50 padding-bottom-25">
                    <img id="imgSize" class="center-block img-responsive" src="assets/images/department/engineer.png" alt="">
                    <h3 class="label-height labelFontSize text-uppercase"><strong>Municipal Engineer</strong></h3>
                    <a ui-sref="departmentSection({departmentId:11})"><button class="btn btn-custom">View Detail</button></a>
                </div>
                <div class="col-sm-6 col-md-3 text-center padding-left-50 padding-right-50 padding-bottom-25">
                    <img id="imgSize" class="center-block img-responsive" src="assets/images/department/admin.png" alt="">
                    <h3 class="label-height labelFontSize text-uppercase"><strong>Municipal Administrator</strong></h3>
                    <a ui-sref="departmentSection({departmentId:12})"><button class="btn btn-custom">View Detail</button></a>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 col-md-3 text-center padding-left-50 padding-right-50 padding-bottom-25">
                    <img id="imgSize" class="center-block img-responsive" src="assets/images/department/secretary.png" alt="">
                    <h3 class="label-height labelFontSize labelMDRRM text-uppercase"><strong>MDRRM</strong></h3>
                    <a ui-sref="departmentSection({departmentId:13})"><button class="btn btn-custom">View Detail</button></a>
                </div>
                <div class="col-sm-6 col-md-3 text-center padding-left-50 padding-right-50 padding-bottom-25">
                    
                </div>
                <div class="col-sm-6 col-md-3 text-center padding-left-50 padding-right-50 padding-bottom-25">
                    
                </div>
                <div class="col-sm-6 col-md-3 text-center padding-left-50 padding-right-50 padding-bottom-25">
                </div>
            </div>
        </section>
    </section>
</div>  