<ng-include src="'assets/app/template/partial/banner-half.html'"></ng-include>
<div id="departmentPage">
    <section class="container-fluid departmentLabel">
        <div class="container-custom">
            <h1 id="departmentTitle"><img class="img-responsive" id="iconDepartment" src="assets/images/department/department-icon.png" alt=""> Departments</h1>
        </div>
    </section>
    <section class="container-custom">
        <div class="row">
            <div class="col-sm-6 col-md-3 text-center padding-left-50 padding-right-50 padding-bottom-25">
                <img id="imgSize" class="center-block img-responsive" src="assets/images/department/budget.png" alt="">
                <h3 class="label-height text-uppercase"><strong>Office of the Municipal Budget Officer</strong></h3>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                <a href=""><button class="btn btn-custom">View Detail</button></a>
            </div>
            <div class="col-sm-6 col-md-3 text-center padding-left-50 padding-right-50 padding-bottom-25">
                <img id="imgSize" class="center-block img-responsive" src="assets/images/department/planning.png" alt="">
                <h3 class="label-height text-uppercase"><strong>Office of the Municipal Planning and Development Officer</strong></h3>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                <a href=""><button class="btn btn-custom">View Detail</button></a>
            </div>
            <div class="col-sm-6 col-md-3 text-center padding-left-50 padding-right-50 padding-bottom-25">
                <img id="imgSize" class="center-block img-responsive" src="assets/images/department/accountant.png" alt="">
                <h3 class="label-height text-uppercase"><strong>Office of the Municipal Accountant</strong></h3>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                <a href=""><button class="btn btn-custom">View Detail</button></a>
            </div>
            <div class="col-sm-6 col-md-3 text-center padding-left-50 padding-right-50 padding-bottom-25">
                <img id="imgSize" class="center-block img-responsive" src="assets/images/department/registrar.png" alt="">
                <h3 class="label-height text-uppercase"><strong>Office of the Civil Registrar</strong></h3>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                <a href=""><button class="btn btn-custom">View Detail</button></a>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 col-md-3 text-center padding-left-50 padding-right-50 padding-bottom-25">
                <img id="imgSize" class="center-block img-responsive" src="assets/images/department/assessor.png" alt="">
                <h3 class="label-height text-uppercase"><strong>Office of the Municipal Assessor</strong></h3>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                <a href=""><button class="btn btn-custom">View Detail</button></a>
            </div>
            <div class="col-sm-6 col-md-3 text-center padding-left-50 padding-right-50 padding-bottom-25">
                <img id="imgSize" class="center-block img-responsive" src="assets/images/department/social.png" alt="">
                <h3 class="label-height text-uppercase"><strong>Office of the Municipal Social Welfare and Development Officer</strong></h3>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                <a href=""><button class="btn btn-custom">View Detail</button></a>
            </div>
            <div class="col-sm-6 col-md-3 text-center padding-left-50 padding-right-50 padding-bottom-25">
                <img id="imgSize" class="center-block img-responsive" src="assets/images/department/agri.png" alt="">
                <h3 class="label-height text-uppercase"><strong>Office of the Municipal Agriculturist</strong></h3>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                <a href=""><button class="btn btn-custom">View Detail</button></a>
            </div>
            <div class="col-sm-6 col-md-3 text-center padding-left-50 padding-right-50 padding-bottom-25">
                <img id="imgSize" class="center-block img-responsive" src="assets/images/department/treasurer.png" alt="">
                <h3 class="label-height text-uppercase"><strong>Office of the Municipal Treasurer</strong></h3>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                <a href=""><button class="btn btn-custom">View Detail</button></a>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 col-md-3 text-center padding-left-50 padding-right-50 padding-bottom-25">
                <img id="imgSize" class="center-block img-responsive" src="assets/images/department/secretary.png" alt="">
                <h3 class="label-height text-uppercase"><strong>Office of the SB Secretary – Designate</strong></h3>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                <a href=""><button class="btn btn-custom">View Detail</button></a>
            </div>
            <div class="col-sm-6 col-md-3 text-center padding-left-50 padding-right-50 padding-bottom-25">
                <img id="imgSize" class="center-block img-responsive" src="assets/images/department/health.png" alt="">
                <h3 class="label-height text-uppercase"><strong>Office of the Municipal Health Officer</strong></h3>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                <a href=""><button class="btn btn-custom">View Detail</button></a>
            </div>
            <div class="col-sm-6 col-md-3 text-center padding-left-50 padding-right-50 padding-bottom-25">
                <img id="imgSize" class="center-block img-responsive" src="assets/images/department/engineer.png" alt="">
                <h3 class="label-height text-uppercase"><strong>Office of the Municipal Engineer</strong></h3>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                <a href=""><button class="btn btn-custom">View Detail</button></a>
            </div>
            <div class="col-sm-6 col-md-3 text-center padding-left-50 padding-right-50 padding-bottom-25">
                <img id="imgSize" class="center-block img-responsive" src="assets/images/department/admin.png" alt="">
                <h3 class="label-height text-uppercase"><strong>Office of the Municipal Administrator</strong></h3>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                <a href=""><button class="btn btn-custom">View Detail</button></a>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 col-md-3 text-center padding-left-50 padding-right-50 padding-bottom-25">
                <img id="imgSize" class="center-block img-responsive" src="assets/images/department/secretary.png" alt="">
                <h3 class="label-height text-uppercase"><strong>MDRRM</strong></h3>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                <a href=""><button class="btn btn-custom">View Detail</button></a>
            </div>
            <div class="col-sm-6 col-md-3 text-center padding-left-50 padding-right-50 padding-bottom-25">
                
            </div>
            <div class="col-sm-6 col-md-3 text-center padding-left-50 padding-right-50 padding-bottom-25">
                
            </div>
            <div class="col-sm-6 col-md-3 text-center padding-left-50 padding-right-50 padding-bottom-25">
                
            </div>
        </div>
    </section>
</div>  