<ng-include src="'assets/app/template/partial/banner-half.html'"></ng-include>
<section id="touristPage">
    <div class="container-fluid">
        <div class="row">
			<div class="col-md-6 image-main" style="background-image:url('assets/images/tourism/TouristDestinations1.jpg')">

			</div>
			<div class="col-md-6">
				<div class="row">
					<div class="col-md-6 image-sub" style="background-image:url('assets/images/tourism/TouristDestinations2.jpg')"></div>
					<div class="col-md-6 image-sub" style="background-image:url('assets/images/tourism/TouristDestinations3.jpg')"></div>
				</div>
				<div class="row">
					<div class="col-md-12 image-description align-self-center">
						<div class="arrow-left"></div>
						<div class="first-content">
							<div class="second-content">
								<div class="inner-description">
									<img class="description-box" src="../contents/images/cakes/box.png" alt="">
									<img class="swirl" src="../contents/images/cakes/swirl_left.png" alt="">
									<h1 class="decription-text">TOURISM DISTINATION</h1>
									<img  class="swirl" src="../contents/images/cakes/swirl_right.png" alt="">
									<a href="" class="btn btn-view-more">View</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
        </div>
        <div class="row">
			<div class="col-md-6">
				<div class="row">
					<div class="col-md-6 image-sub" style="background-image:url('assets/images/tourism/Resorts1.jpg')"></div>
					<div class="col-md-6 image-sub" style="background-image:url('assets/images/tourism/Resorts2.jpg')"></div>
				</div>
				<div class="row">
					<div class="col-md-12 image-description align-self-center">
						<div class="arrow-right"></div>
						<div class="first-content">
							<div class="second-content">
									<div class="inner-description">
								<img class="description-box" src="../contents/images/cakes/box.png" alt="">
								<img class="swirl" src="../contents/images/cakes/swirl_left.png" alt="">
								<h1 class="decription-text">RESORTS</h1>
								<img  class="swirl" src="../contents/images/cakes/swirl_right.png" alt="">
								<a href="" class="btn btn-view-more">View</a>
							</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-6 image-main" style="background-image:url('assets/images/tourism/Resorts3.jpg')">
				
			</div>
		</div>
		<div class="row">
			<div class="col-md-6 image-main" style="background-image:url('assets/images/tourism/hotels_1.jpg')">

			</div>
			<div class="col-md-6">
				<div class="row">
					<div class="col-md-6 image-sub" style="background-image:url('assets/images/tourism/hotels_2.jpg')"></div>
					<div class="col-md-6 image-sub" style="background-image:url('assets/images/tourism/hotels_3.jpg')"></div>
				</div>
				<div class="row">
					<div class="col-md-12 image-description align-self-center">
						<div class="arrow-left"></div>
						<div class="first-content">
							<div class="second-content">
									<div class="inner-description">
								<img class="description-box" src="../contents/images/cakes/box.png" alt="">
								<img class="swirl" src="../contents/images/cakes/swirl_left.png" alt="">
								<h1 class="decription-text">HOTEL</h1>
								<img  class="swirl" src="../contents/images/cakes/swirl_right.png" alt="">
								<a href="" class="btn btn-view-more">View</a>
							</div>
							</div>
						</div>
					</div>
				</div>
			</div>
        </div>
        <div class="row">
			<div class="col-md-6">
				<div class="row">
					<div class="col-md-6 image-sub" style="background-image:url('assets/images/tourism/Pilgrim_1.jpg')"></div>
					<div class="col-md-6 image-sub" style="background-image:url('assets/images/tourism/Pilgrim_2.jpg')"></div>
				</div>
				<div class="row">
					<div class="col-md-12 image-description align-self-center">
						<div class="arrow-right"></div>
						<div class="first-content">
							<div class="second-content">
									<div class="inner-description">
								<img class="description-box" src="../contents/images/cakes/box.png" alt="">
								<img class="swirl" src="../contents/images/cakes/swirl_left.png" alt="">
								<h1 class="decription-text">PILGRIM</h1>
								<img  class="swirl" src="../contents/images/cakes/swirl_right.png" alt="">
								<a href="" class="btn btn-view-more">View</a>
							</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-6 image-main" style="background-image:url('assets/images/tourism/Pilgrim_3.jpg')">
				
			</div>
		</div>
		<div class="row">
			<div class="col-md-6 image-main" style="background-image:url('assets/images/tourism/FoodsandDelicacies1.jpg')">

			</div>
			<div class="col-md-6">
				<div class="row">
					<div class="col-md-6 image-sub" style="background-image:url('assets/images/tourism/FoodsandDelicacies2.jpg')"></div>
					<div class="col-md-6 image-sub" style="background-image:url('assets/images/tourism/FoodsandDelicacies3.jpg')"></div>
				</div>
				<div class="row">
					<div class="col-md-12 image-description align-self-center">
						<div class="arrow-left"></div>
						<div class="first-content">
							<div class="second-content">
									<div class="inner-description">
								<img class="description-box" src="../contents/images/cakes/box.png" alt="">
								<img class="swirl" src="../contents/images/cakes/swirl_left.png" alt="">
								<h1 class="decription-text">FOOD AND DELICACIES</h1>
								<img  class="swirl" src="../contents/images/cakes/swirl_right.png" alt="">
								<a href="" class="btn btn-view-more">View</a>
							</div>
							</div>
						</div>
					</div>
				</div>
			</div>
        </div>
        <div class="row">
			<div class="col-md-6">
				<div class="row">
					<div class="col-md-6 image-sub" style="background-image:url('assets/images/tourism/Transportation_1.jpg')"></div>
					<div class="col-md-6 image-sub" style="background-image:url('assets/images/tourism/Transportation_2.jpg')"></div>
				</div>
				<div class="row">
					<div class="col-md-12 image-description align-self-center">
						<div class="arrow-right"></div>
						<div class="first-content">
							<div class="second-content">
									<div class="inner-description">
								<img class="description-box" src="../contents/images/cakes/box.png" alt="">
								<img class="swirl" src="../contents/images/cakes/swirl_left.png" alt="">
								<h1 class="decription-text">TRANSPORTATION</h1>
								<img  class="swirl" src="../contents/images/cakes/swirl_right.png" alt="">
								<a href="" class="btn btn-view-more">View</a>
							</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-6 image-main" style="background-image:url('assets/images/tourism/Transportation_3.jpg')">
				
			</div>
		</div>
		<div class="row">
			<div class="col-md-6 image-main" style="background-image:url('assets/images/tourism/Festivities1.jpg')">

			</div>
			<div class="col-md-6">
				<div class="row">
					<div class="col-md-6 image-sub" style="background-image:url('assets/images/tourism/Festivities2.jpg')"></div>
					<div class="col-md-6 image-sub" style="background-image:url('assets/images/tourism/Festivities3.jpg')"></div>
				</div>
				<div class="row">
					<div class="col-md-12 image-description align-self-center">
						<div class="arrow-left"></div>
						<div class="first-content">
							<div class="second-content">
									<div class="inner-description">
								<img class="description-box" src="../contents/images/cakes/box.png" alt="">
								<img class="swirl" src="../contents/images/cakes/swirl_left.png" alt="">
								<h1 class="decription-text">FESTIVITIES</h1>
								<img  class="swirl" src="../contents/images/cakes/swirl_right.png" alt="">
								<a href="" class="btn btn-view-more">View</a>
							</div>
							</div>
						</div>
					</div>
				</div>
			</div>
        </div>
        <div class="row">
			<div class="col-md-6">
				<div class="row">
					<div class="col-md-6 image-sub" style="background-image:url('assets/images/tourism/Videos_1.jpg')"></div>
					<div class="col-md-6 image-sub" style="background-image:url('assets/images/tourism/Videos_2.jpg')"></div>
				</div>
				<div class="row">
					<div class="col-md-12 image-description align-self-center">
						<div class="arrow-right"></div>
						<div class="first-content">
							<div class="second-content">
								<div class="inner-description">
									<img class="description-box" src="../contents/images/cakes/box.png" alt="">
									<img class="swirl" src="../contents/images/cakes/swirl_left.png" alt="">
									<h1 class="decription-text">VIDEOS</h1>
									<img  class="swirl" src="../contents/images/cakes/swirl_right.png" alt="">
									<a href="" class="btn btn-view-more">View</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-6 image-main" style="background-image:url('assets/images/tourism/Videos_3.jpg')">
				
			</div>
		</div>
    </div>
</section>