<ng-include src="'assets/app/template/partial/banner-half.html'"></ng-include>
<div id="aboutPage">
    <div id="aboutMenu">
        <div class="container">
            <div id="aboutTabs">
                <ul id="tabs">
                    <li class="tab"><a href="">Profile</a></li>
                    <li class="tab"><a href="">Demographics</a></li>
                    <img src="assets/images/hilongos-logo.png" height="200px" width="200px">
                    <li class="tab active">
                        <a href="">History</a>
                        <div class="triangle"></div>
                    </li>
                    <li class="tab"><a href="">Transport / Health</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div id="aboutContents">

    </div>
</div>