<ng-include src="'assets/app/template/partial/banner-half.html'"></ng-include>
<div id="aboutPage">
    <div id="aboutMenu">
        <div class="container">
            <div id="aboutTabs">
                <ul id="tabs">
                    <li class="tab" data-ng-model="about.tabs" uib-btn-radio="1">
                        <a href="">Profile</a>
                        <div class="triangle"></div>
                    </li>
                    <li class="tab" data-ng-model="about.tabs" uib-btn-radio="2">
                        <a href="">Demographics</a>
                        <div class="triangle"></div>
                    </li>
                    <img src="assets/images/hilongos-logo.png" height="200px" width="200px">
                    <li class="tab" data-ng-model="about.tabs" uib-btn-radio="3">
                        <a href="">History</a>
                        <div class="triangle"></div>
                    </li>
                    <li class="tab" data-ng-model="about.tabs" uib-btn-radio="4">
                        <a href="">Transport / Health</a>
                        <div class="triangle"></div>
                    </li>
                </ul>

                <div>                    
                    <ng-include ng-if="about.tabs === 1" src="'assets/app/template/about/tabs/profile.html'"></ng-include> 
                    <ng-include ng-if="about.tabs === 2" src="'assets/app/template/about/tabs/demographics.html'"></ng-include>        
                </div>
            </div>
        </div>
    </div>
    <div id="aboutContents">

    </div>
</div>