<div id="bannerimage">
    <div class="bannercontent" style = "background-image:url('assets/images/banner.jpg');">
    </div>
    <div class="bannercontent" style = "background-image:url('assets/images/xx-banner.jpg');">
    </div>
    <div class="bannercontent" style = "background-image:url('assets/images/ss-banner.jpg')">
    </div>
    <div class="bannercontent" style = "background-image:url('assets/images/yy-banner.jpg');">
    </div>
</div>
<script>
    $("#bannerimage").slick({
        arrows: false,
        dots: true,
        autoplay:true
    });
</script>