<ng-include src="'assets/app/template/partial/banner-half.html'"></ng-include>
<div id="departmentSection">
    <section class="container-fluid">
        <div class="row">
            <div class="col-md-12 departmentLabel padding-5-percent">
                <h1 id="budgetTitle"><img src="assets/images/department/departmentSection/budget.png" class="iconDepartment"> Office of the Municipal Budget Officer</h1>
            </div>
        </div>
    </section>
    <section class="container-fluid">
        <div class="row">
            <div class="col-md-12 padding-left-0 padding-right-0 padding-5-percent">
                <div class="col-lg-2">
                    <img id="deptProfile" src="assets/images/department/departmentSection/budgetProfile.jpg" > 
                </div>
                <div class="col-lg-10">
                    <div class="col-md-7">
                        <h1 id="deptName">Mr. Jame Bonds</h1>
                        <h3 id="deptDesignation">Department Head</h3>
                    </div>
                    <div class="col-md-5 margin-top-20">
                        <p class="phoneNumber"><img id="iconPhone" src="assets/images/department/departmentSection/phone.png"> (053) 123 - 4567</p>
                    </div>
                    <div class="col-md-12 dept-details">
                        <h1 id="deptContact">Department Contact Details</h1>
                        <h3 id="email">Email Ad: asdf@gmail.com</h3>
                        <h3 id="fax">Fax #: 123 - 4567 - 891</h3>
                    </div>
                </div>
            </div>
        </div>	
    </section>
    <section class="container-fluid">
        <div class="text-caption padding-5-percent">
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
                when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap
                into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum 
                passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
                when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap 
                into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum 
                passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
        </div>
    </section>
    <section class="container-fluid">
        <div class="row">
            <div class="col-md-12 padding-left-0 padding-right-0 padding-5-percent contact-text">
                <h1 class="padding-left-15 margin-bottom-30 contact-title">Contact Persons:</h1>
                <div class="col-md-4">
                    <p>Marian Rivera</p>
                    <p>Dingdong Dantes</p>
                    <p>Katrina Halili</p>
                </div>
                <div class="col-md-4">
                    <p>Monday-Wednesday</p>
                    <p>Wednesday-Thursday</p>
                    <p>Friday</p>
                </div>
                <div class="col-md-4">
                    <p>0909-123-1234</p>
                    <p>0909-123-1234</p>
                    <p>0909-123-1234</p>
                </div>
            </div>
        </div>	
    </section>

    <section class="container-fluid">
        <div class="row">
            <div class="col-md-12 gallery padding-5-percent">
                <div>
                    <img src="assets/images/department/departmentSection/1.jpg" alt="" width="100%">
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                </div>
                <div>
                    <img src="assets/images/department/departmentSection/2.jpg" alt="" width="100%">
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                </div>
                <div>
                    <img src="assets/images/department/departmentSection/3.jpg" alt="" width="100%">
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                </div>
                <div>
                    <img src="assets/images/department/departmentSection/2.jpg" alt="" width="100%">
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                </div>
                <div>
                    <img src="assets/images/department/departmentSection/3.jpg" alt="" width="100%">
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                </div>
            </div>
        </div>
    </section>
</div>