<section id="departmentSection" class="container-fluid">
    <div class="row">
        <div class="col-md-12 departmentLabel padding-5-percent">
            <h1 class="budgetTitle">
                <img src="assets/images/department/treasurer.png" class="iconDepartment"> 
                Office of the Municipal Treasurer
            </h1>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 departmentContent">
            <!-- <div class="row">
                <div class="col-sm-12 deptPersonInfo">
                    <div class="col-sm-3">
                        <div class="deptProfile deptOfficer8"></div>
                    </div>
                    <div class="col-sm-9">
                        <div class="col-md-7">
                            <h1 class="deptName">Ms. Serenity Marla</h1>
                            <h3 class="deptDesignation">Department Head</h3>
                        </div>
                        <div class="col-md-5">
                            <p class="phoneNumber"><img class="iconPhone" src="assets/images/department/departmentSection/phone.png"> (053) 123 - 4567</p>
                        </div>
                        <div class="col-md-12 dept-details">
                            <h1 class="deptContact">Department Contact Details</h1>
                            <h2 class="email">Email Ad: asdf@gmail.com</h2>
                            <h2 class="fax">Fax #: 123 - 4567 - 891</h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 textCaption">
                    <div class="text">
                        <p>
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
                            when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap
                            into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum 
                            passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                        </p>
                        <p>
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
                            when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap 
                            into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum 
                            passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                        </p>
                    </div>
                </div>
            </div>	
            <div class="row">
                <div class="col-md-12 contact-text">
                    <h1 class="contact-title">Contact Persons:</h1>
                    <div class="row">
                        <div class="col-md-12 contactInfos">
                            <div class="col-md-4 contactDetails">
                                <h2>Marian Rivera</h2>
                            </div>
                            <div class="col-md-4 contactDetails">
                                <h2>Monday-Wednesday</h2>
                            </div>
                            <div class="col-md-4 contactDetails">
                                <h2>0909-123-1234</h2>
                            </div>
                        </div>
                        <div class="col-md-12 contactInfos">
                            <div class="col-md-4 contactDetails">
                                <h2>Dingdong Dantes</h2>
                            </div>
                            <div class="col-md-4 contactDetails">
                                <h2>Wednesday-Thursday</h2>
                            </div>
                            <div class="col-md-4 contactDetails">
                                <h2>0909-123-1234</h2>
                            </div>
                        </div>
                        <div class="col-md-12 contactInfos">
                            <div class="col-md-4 contactDetails">
                                <h2>Katrina Halili</h2>
                            </div>
                            <div class="col-md-4 contactDetails">
                                <h2>Friday</h2>
                            </div>
                            <div class="col-md-4 contactDetails">
                                <h2>0909-123-1234</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>	 -->

            <div class="container">
                <div class="function-desc">
                    <h2>Qualifications, Powers and Duties (R.A. 7160)</h2>
                    <ul class="letter-list">
                        <li>The treasurer shall be appointd by the Secretary of Finance from a list of at least three (3) ranking, eligible recommendees of the governor or mayor, as the case may be, subject to civil service law, rules and regulations.</li>
                        <li>The treasurer shall be under the administrative supervision of the governor or mayor, as the case may be, to whom he shall report regularly on the tax collection efforts in the local government unit;</li>
                        <li>
                            <p>No person shall be appointed treasurer unless he is a citizen of the Philippines, a resident of the local government unit concerned, of good moral character, a holder of a college degree preferably in commerce, public administration or law from a recognized college or university, and a first grade civil service eligible or its equivalent. He must have acquired experience in treasury or accounting service for at least five (5) years in the case of the city or provincial treasurer, and three (3) years in the case of municipal treasurer.</p>
                            <p>The appointment of a treasurer shall be mandatory for provincial, city and municipal governments;</p>
                        </li>
                        <li>The treasurer shall take charge of the treasury office, perform the duties provided for under Book II of this Code, and shall:
                            <ol>
                                <li>Advise the governor or mayor, as the case may be, the sanggunian, and other local government and national officials concerned regarding disposition of local government funds, and on such other matters relative to public finance;</li>
                                <li>Take custody of and exercise proper management of the funds of the local government unit concerned;</li>
                                <li>Take charge of the disbursement of all local government funds and such other funds the custody of which may be entrusted to him by law or other competent authority;</li>
                                <li>Inspect private commercial and industrial establishments within the jurisdiction of the local government unit concerned in relation to the implementation of tax ordinances, pursuant to the provisions under Book II of this Code;</li>
                                <li>Maintain and update the tax information system of the local government unit;</li>
                                <li>In the case of the provincial treasurer, exercise technical supervision over all treasury offices of component cities and municipalities; and</li>
                            </ol>
                        </li>
                        <li>Exercise such other powers and perform such other duties and functions as may be prescribed by law or ordinance.</li>
                    </ul>
                </div>
            </div>

            <div class="container">
                <div class="mission-section">
                    <div class="row">
                        <div class="col-md-3 mission-vision-title">
                            <h3>Mission</h3>
                        </div>
                        <div class="col-md-9 mission-vision-bar"></div>
                    </div>
                    <div class="mission-vision-content">
                        <h4 class="text-center"><blockquote><em>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Atque odit harum accusamus eos modi magni temporibus quos ad mollitia consequuntur! Error laboriosam aut eveniet minus explicabo, omnis eius deserunt accusamus!</em></blockquote></h4>
                    </div>
                </div>
                <div class="vision-section">
                    <div class="row">
                        <div class="col-md-3 mission-vision-title">
                            <h3>Vision</h3>
                        </div>
                        <div class="col-md-9 mission-vision-bar"></div>
                    </div>
                    <div class="mission-vision-content">
                        <h4 class="text-center"><blockquote><em>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Atque odit harum accusamus eos modi magni temporibus quos ad mollitia consequuntur! Error laboriosam aut eveniet minus explicabo, omnis eius deserunt accusamus!</em></blockquote></h4>
                    </div>
                </div>
            </div>

            <hr class="separator-bar">
            
            <div class="container">
                <img src="assets/images/department/departmentSection/team-pic.png" alt="" class="img-responsive team-pic">
            </div>

            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h3 class="text-center">Organizational Chart</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 dept-head">
                        <img src="assets/images/department/departmentSection/head-1.png" alt="" class="img-responsive">
                        <h4 class="text-center">Juan Tamad</h4>
                        <h5 class="text-center">Department Head</h5>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3 dept-personnel">
                        <img src="assets/images/department/departmentSection/head-2.png" alt="" class="img-responsive">
                        <h4 class="text-center">Jane Der</h4>
                        <h5 class="text-center">Administrative Aid I</h5>
                    </div>
                    <div class="col-md-3 dept-personnel">
                        <img src="assets/images/department/departmentSection/head-3.png" alt="" class="img-responsive">
                        <h4 class="text-center">John Tis</h4>
                        <h5 class="text-center">Administrative Aid I</h5>
                    </div>
                    <div class="col-md-3 dept-personnel">
                        <img src="assets/images/department/departmentSection/head-4.png" alt="" class="img-responsive">
                        <h4 class="text-center">Jannifer Ross</h4>
                        <h5 class="text-center">Administrative Aid I</h5>
                    </div>
                    <div class="col-md-3 dept-personnel">
                        <img src="assets/images/department/departmentSection/head-5.png" alt="" class="img-responsive">
                        <h4 class="text-center">Jean Ni</h4>
                        <h5 class="text-center">Administrative Aid I</h5>
                    </div>
                </div>
            </div>

            <hr class="separator-bar">

            <div class="container">
                <div class="row">
                    <h3>Contact Persons:</h3>
                </div>
                <div class="row">
                <table class="table table-hover table-responsive">
                        <thead>
                            <tr>
                            <th>#</th>
                            <th>Name</th>
                            <th>Position</th>
                            <th>Schedule</th>
                            <th>Contact Number</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                            <th scope="row">1</th>
                            <td>Marian Rivera</td>
                            <td>Department Head</td>
                            <td>Monday-Wednesday</td>
                            <td>0909-090-1234</td>
                            </tr>
                            <tr>
                            <th scope="row">2</th>
                            <td>Dingdong Dantes</td>
                            <td>Administrative Aid 1</td>
                            <td>Wednesday-Thursday</td>
                            <td>0909-000-1234</td>
                            </tr>
                            <tr>
                            <th scope="row">3</th>
                            <td>Katrina Halili</td>
                            <td>Administrative Aid 2</td>
                            <td>Friday</td>
                            <td>0909-999-1234</td>
                            </tr>
                        </tbody>
                        </table>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12 gallery">
                    <div class="col-md-4 officeGallery">
                        <div class="officePic officePic1"></div>
                        <p>
                            Lorem Ipsum is simply 
                            dummy text of the printing 
                            and typesetting industry.
                        </p>
                    </div>
                    <div class="col-md-4 officeGallery">
                        <div class="officePic officePic2"></div>
                        <p>
                            Lorem Ipsum is simply 
                            dummy text of the printing 
                            and typesetting industry.
                        </p>
                    </div>
                    <div class="col-md-4 officeGallery">
                        <div class="officePic officePic3"></div>
                        <p>
                            Lorem Ipsum is simply 
                            dummy text of the printing 
                            and typesetting industry.
                        </p>
                    </div>
                    <div class="col-md-4 officeGallery">
                        <div class="officePic officePic4"></div>
                        <p>
                            Lorem Ipsum is simply 
                            dummy text of the printing 
                            and typesetting industry.
                        </p>
                    </div>
                    <div class="col-md-4 officeGallery">
                        <div class="officePic officePic5"></div>
                        <p>
                            Lorem Ipsum is simply 
                            dummy text of the printing 
                            and typesetting industry.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script>
    $('.gallery').slick({
          //centerMode: true,
          centerPadding: '60px',
          slidesToShow: 3,
          autoplay: true,
          autoplaySpeed: 3000,
          responsive: [
            {
              breakpoint: 768,
              settings: {
                arrows: false,
                centerMode: true,
                centerPadding: '40px',
                slidesToShow: 3,
                autoplay: true,
                autoplaySpeed: 3000
              }
            },
            {
              breakpoint: 480,
              settings: {
                arrows: false,
                centerMode: true,
                centerPadding: '40px',
                slidesToShow: 1,
                autoplay: true,
                autoplaySpeed: 3000
              }
            }
          ]
        });
</script>