<section class="generalInformation text-center">
    <br />
    <h1>GENERAL <span>INFORMATION</span></h1>
    <br />
    <div class="container">
    <br />
            <div class="col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4">
            <a data-toggle="collapse" data-target="#officials-collapse" ><img src="assets/images/barangay/barangayofficials.png" alt=""></a>
            <h4>BARANGAY OFFICIALS</h4>
            </div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4">
            <a data-toggle="collapse" data-target="#resources-collapse"><img src="assets/images/barangay/resources.png" alt=""></a>
            <h4>RESOURCES</h4>
            </div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4">
            <a data-toggle="collapse" data-target="#history-collapse"><img src="assets/images/barangay/barangayhistory.png" alt=""></a>
            <h4>BARANGAY HISTORY</h4>
            </div>
    </div>
    <br/>
</section>
<section class="collapse collapse-section1" id="officials-collapse">
    <div class="overlay">
    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 tag-name">
            <h1 class="text-center">ORGANIZATIONAL <span>STRUCTURE</span></h1>
            <h3 class="text-center">BARANGAY CAPTAIN</h3>
            <br />
            <div class="text-center">
            <img src="assets/images/barangay/round.jpg" alt="">
            <h2>NORELA V. MILLADAS</h2>
            </div>
            
            <div class="container">
            <hr />
            <!-- left columnn -->
            <h3 class="text-center">BARANGAY COUNCILOR</h3>
            <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 padding-0">
                    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 padding-0">
                            <div class="col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4 padding-0 text-center">
                                    <img src="assets/images/barangay/round.jpg" alt="">
                            </div>
                            <div class="col-12 col-sm-12 col-md-12 col-lg-8 col-xl-8 padding-0">
                                    <h2>CARMEN V. VERDIJO</h2>
 
                            </div>
                    </div>
                    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 padding-0">
                            <div class="col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4 padding-0 text-center">
                                    <img src="assets/images/barangay/round.jpg" alt="">
                            </div>
                            <div class="col-12 col-sm-12 col-md-12 col-lg-8 col-xl-8 padding-0">
                                    <h2>MARIO</h2>  
                            </div>
                    </div>
                    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 padding-0">
                            <div class="col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4 padding-0 text-center">
                                    <img src="assets/images/barangay/round.jpg" alt="">
                            </div>
                            <div class="col-12 col-sm-12 col-md-12 col-lg-8 col-xl-8 padding-0">
                                    <h2>CONCEPCION M. MONTAÑA</h2>   
                            </div>
                    </div>
                    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 padding-0">
                            <div class="col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4 padding-0 text-center">
                                    <img src="assets/images/barangay/round.jpg" alt="">
                            </div>
                            <div class="col-12 col-sm-12 col-md-12 col-lg-8 col-xl-8 padding-0">
                                    <h2>SOFRONIA M. UTRERA</h2>  
                            </div>
                    </div>
                    
            </div>
            <!-- right column -->
            <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 padding-0">
                    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 padding-0">
                            <div class="col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4 padding-0 text-center">
                                    <img src="assets/images/barangay/round.jpg" alt="">
                            </div>
                            <div class="col-12 col-sm-12 col-md-12 col-lg-8 col-xl-8 padding-0">
                                    <h2>TERESA H. BERCILLA</h2>   
                            </div>
                    </div>
                    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 padding-0">
                            <div class="col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4 padding-0 text-center">
                                    <img src="assets/images/barangay/round.jpg" alt="">
                            </div>
                            <div class="col-12 col-sm-12 col-md-12 col-lg-8 col-xl-8 padding-0">
                                    <h2>EDITHA L. VINCULADO</h2>
                            </div>
                    </div>
                    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 padding-0">
                            <div class="col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4 padding-0 text-center">
                                    <img src="assets/images/barangay/round.jpg" alt="">
                            </div>
                            <div class="col-12 col-sm-12 col-md-12 col-lg-8 col-xl-8 padding-0">
                                    <h2>DENNIS A. REMETICADO</h2> 
                            </div>
                    </div>
            </div>
    </div>
    <div class="container">
            <hr />
            <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 padding-0">
                    <h3 class="text-center">BARANGAY SECRETARY</h3>
                    <div class="col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4 padding-0 text-center">
                            <img src="assets/images/barangay/round.jpg" alt="">
                    </div>
                    <div class="col-12 col-sm-12 col-md-12 col-lg-8 col-xl-8 padding-0">
                            <h2>EVANGELINE B. JORBAN</h2>
                    </div>
            </div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 padding-0">
                    <h3 class="text-center">BARANGAY TREASURER</h3>
                    <div class="col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4 padding-0 text-center">
                            <img src="assets/images/barangay/round.jpg" alt="">
                    </div>
                    <div class="col-12 col-sm-12 col-md-12 col-lg-8 col-xl-8 padding-0">
                            <h2>MARELINE R. MORETE</h2>
                    </div>
            </div>
    </div>
    </div>
</div>
</section>
<section class="collapse-section collapse" id="resources-collapse">
    <div class="overlay">
    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <br />
            <h2>RESOURCES</h2>
            <div class="autoplay">
            <div>
                    <img src="assets/images/barangay/tanim.jpg" alt="">
                    <h3>RICE FIELDS</h3>
                    <P>Lorem Ipsum is simply dummy text of the printing and typesetting 
                    industry.</P>
            </div>
            <div>
                    <img src="assets/images/barangay/corn-field.jpg" alt="">
                    <h3>CORN</h3>
                    <P>Lorem Ipsum is simply dummy text of the printing and typesetting 
                    industry.</P>
            </div>
            <div>
                    <img src="assets/images/barangay/fishing.jpg" alt="">
                    <h3>FISHING</h3>
                    <P>Lorem Ipsum is simply dummy text of the printing and typesetting 
                    industry.</P>
            </div>
            <div>
                    <img src="assets/images/barangay/corn-field.jpg" alt="">
                    <h3>CORN</h3>
                    <P>Lorem Ipsum is simply dummy text of the printing and typesetting 
                    industry.</P>
            </div>
            <div>
                    <img src="assets/images/barangay/fishing.jpg" alt="">
                    <h3>FISHING</h3>
                    <P>Lorem Ipsum is simply dummy text of the printing and typesetting 
                    industry.</P>
            </div>
            </div>
    </div>
    </div>
</section>
<section class="collapse-section2 collapse" id="history-collapse">
    <div class="overlay">
    <div class="container">
            <br />
            <h1>Barangay <span>History</span></h1>
            <p class="margin">Where does it come from?</p>
            <br />
            <p class="indent">Lorem Ipsum is simply dummy text of the printing and typesetting 
                    industry. Lorem Ipsum has been the industry's standard dummy text 
                    ever since the 1500s, when an unknown printer took a galley of type
                    and scrambled it to make a type specimen book
                    Lorem Ipsum is simply dummy text of the printing and typesetting 
                    industry. Lorem Ipsum has been the industry's standard dummy text 
                    ever since the 1500s, when an unknown printer took a galley of type
                    and scrambled it to make a type specimen bookLorem Ipsum is simply dummy text of the printing and typesetting 
                    industry. Lorem Ipsum has been the industry's standard dummy text 
                    ever since the 1500s, when an unknown printer took a galley of type
                    and scrambled it to make a type specimen book
                    Lorem Ipsum is simply dummy text of the printing and typesetting 
                    industry. Lorem Ipsum has been the industry's standard dummy text 
                    ever since the 1500s, when an unknown printer took a galley of type
                    and scrambled it to make a type specimen bookLorem Ipsum is simply dummy text of the printing and typesetting 
                    industry. Lorem Ipsum has been the industry's standard dummy text 
                    ever since the 1500s, when an unknown printer took a galley of type
                    and scrambled it to make a type specimen book
                    Lorem Ipsum is simply dummy text of the printing and typesetting 
                    industry. Lorem Ipsum has been the industry's standard dummy text 
                    ever since the 1500s, when an unknown printer took a galley of type
                    and scrambled it to make a type specimen book</p>
            <br />
            <p class="indent">Lorem Ipsum is simply dummy text of the printing and typesetting 
                    industry. Lorem Ipsum has been the industry's standard dummy text 
                    ever since the 1500s, when an unknown printer took a galley of type
                    and scrambled it to make a type specimen book
                    Lorem Ipsum is simply dummy text of the printing and typesetting 
                    industry. Lorem Ipsum has been the industry's standard dummy text 
                    ever since the 1500s, when an unknown printer took a galley of type
                    and scrambled it to make a type specimen book</p>
    </div>
    </div>
</section>
<section class="tourist-spot container">
    <br />
    <h2>TOURIST <span>SPOTS</span></h2>
    <br />
    <div class="slider-for">
    <img src="assets/images/barangay/mountains.jpg" alt="">
    <img src="assets/images/barangay/falls.jpg" alt="">
    <img src="assets/images/barangay/stone-sea.jpg" alt="">
    <img src="assets/images/barangay/lake.jpg" alt="">
    <img src="assets/images/barangay/falls.jpg" alt="">
    </div>
    <div class="slider-nav">
            <div class="col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4">
                    <img src="assets/images/barangay/mountains.jpg" alt="">
            </div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4">
                    <img src="assets/images/barangay/falls.jpg" alt="">
            </div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4">
                    <img src="assets/images/barangay/stone-sea.jpg" alt="">
            </div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4">
                    <img src="assets/images/barangay/lake.jpg" alt="">
            </div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4">
                    <img src="assets/images/barangay/falls.jpg" alt="">
            </div>
    </div>
</section>


<script>
     //Slick JS codes by Darwin Maturan
     $('.slider-for').slick({
            slidesToShow: 1,
            slidesToScroll: 1,
            arrows: false,
            fade: true,
            asNavFor: '.slider-nav'
          });
          $('.slider-nav').slick({
            slidesToShow: 3,
            slidesToScroll: 1,
            asNavFor: '.slider-for',
            dots: true,
            centerMode: true,
            focusOnSelect: true
          });
        
          $('.autoplay').slick({
            slidesToShow: 3,
            slidesToScroll: 1,
            autoplay: true,
            autoplaySpeed: 2000,
          });
        
          $('.multiple-items').slick({
            infinite: true,
            slidesToShow: 3,
            slidesToScroll: 3
          });
          $(".generalInformation .container .col-12 a").click(function(e){
                e.preventDefault();
                var id=$(this).attr('href');
                $('.collapse').collapse('hide');
                $(id).collapse('show');
          });
</script>