<ng-include src="'assets/app/template/partial/banner-whole.html'"></ng-include>
<section id="welcome" class="container-fluid">
    <div class="overlay"></div>
    <div class="col-md-6">
        <div id="welcometext">
            <h2>Welcome to</h2>
            <h2>Hilongos</h2>
            <a id = "learn" ui-sref="about" class = "btn btn-success">LEARN MORE</a>
            <a id = "intouch" ui-sref="contact" class = "btn btn-success">GET IN TOUCH</a>
        </div>
        
    </div>
</section>
<section id="about"  class="container-fluid">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <h2>About <span>Hilongos</span></h2>
                <p><span>There are many variations of passages of Lorem Ipsum available,</span>
                    but the majority have suffered alteration in some form, by injected humour,
                        or randomised words which don't look even slightly believable. 
                        If you are going to use a passage of Lorem Ipsum
                        There are many variations of passages of Lorem Ipsum available,</span>
                        but the majority have suffered alteration in some form, by injected humour,
                            or randomised words which don't look even slightly believable.
                </p>
                <a href="" class = "btn btn-success" ui-sref="about">Read More</a>
            </div>
        </div>
    </div>  
</section>
<section id="serve"  class="container-fluid">
    <h2>HOW CAN WE <span>SERVE YOU?</span></h2>
    <div class="row">
        <div class="col-md-3 col-sm-6 col-lg-3">
            <img src="assets/images/banner.jpg" alt="">
            <h3>HISTORY</h3>
            <p>There are many variations of passages of Lorem Ipsum available,</p>
            <a href="" class = "btn btn-success" >Learn More</a>
        </div>
        <div class="col-md-3 col-sm-6 col-lg-3">
            <img src="assets/images/banner.jpg" alt="">
            <h3>EVENTS</h3>
            <p>There are many variations of passages of Lorem Ipsum available,</p>
            <a class="btn btn-success cursor-pointer" ui-sref="event">Learn More</a>
        </div>
        <div class="col-md-3 col-sm-6 col-lg-3">
            <img src="assets/images/banner.jpg" alt="">
            <h3>GOVERNANCE</h3>
            <p>There are many variations of passages of Lorem Ipsum available,</p>
            <a href="" class = "btn btn-success" >Learn More</a>
        </div>
        <div class="col-md-3 col-sm-6 col-lg-3">
            <img src="assets/images/banner.jpg" alt="">
            <h3>BARANGAYS</h3>
            <p>There are many variations of passages of Lorem Ipsum available,</p>
            <a href="" class = "btn btn-success" ui-sref="barangay({'barangayId':'main'})">Learn More</a>
        </div>
    </div>
</section>
<section id="view"  class="container-fluid" style = "background-image:url('assets/images/hilongos_church.jpg')">
    <div class="row">
        <div class="overlay"></div>
        <div id="contentview">
            <h2>It's more fun in <span>Hilongos</span></h2>
            <div id="box2">
                <div id="box1">
                    <div id="contentdesc">
                        <h3 id = "label"></h3>
                        <p>		There are many variations of passages of Lorem Ipsum available,
                        but the majority have suffered alteration in some form, 
                        by injected humour, or randomised words which don't look
                            even slightly believable. If you are going to use a passage
                            of Lorem Ipsum, you need to be sure there isn't anything 
                            embarrassing hidden in the middle of text. etc...</p>
                        <a href="">View More</a>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</section>
<section id="tourist"  class="container-fluid">
    <div id="spot">
        <div id="image-left">   
            <div class="imagecontent">
                <div class="imagehover">
                    <div class="overlay"></div>
                    <img src="assets/images/festival.jpg" alt="">
                    <a data-image = "assets/images/festival.jpg" href="#festival">
                            <div class="info">
                                    <p>HILONGOS ALIKARAW</p>
                                    <!-- <button data-image = "assets/images/festival.jpg" type = "button" class = "btn btn-success" href="">Click Me</button> -->
                            </div>    
                    </a> 
                </div> 
            </div>
            <div class="imagecontent">
                <div class="imagehover">
                    <div class="overlay"></div>
                    <img src="assets/images/alikaraw.jpg" alt="">
                    <a data-image = "assets/images/alikaraw.jpg" href="#alikaraw">
                        <div class="info">
                            <p>HILONGOS FESTIVITY</p>
                            <!-- <button data-image = "assets/images/alikaraw.jpg" type = "button" class = "btn btn-success" href="">Click Me</button> -->
                        </div>
                    </a>
                </div> 
            </div>
        </div>
        <div id="center-image">
            <div class="imagehover">
                <div class="overlay"></div>
                <img src="assets/images/hilongos_church.jpg" alt="">
                <a  data-image = "assets/images/hilongos_church.jpg" href="#hilongoschurch">
                    <div class="info">
                        <p>HILONGOS CHURCH</p>
                        <!-- <button data-image = "assets/images/hilongos_church.jpg" type = "button" class = "btn btn-success" href="">Click Me</button> -->
                    </div>
                </a>
            </div>   
        </div>
        <div id="image-right">     
            <div class="imagecontent">
                <div class="imagehover">
                    <div class="overlay"></div>
                    <img src="assets/images/dam.jpg" alt="">
                    <a data-image = "assets/images/dam.jpg"href="#conceptiondam">
                        <div class="info">
                            <p>HILONGOS CONCEPTION DAM</p>
                            <!-- <button data-image = "assets/images/dam.jpg" type = "button" class = "btn btn-success" href="">Click Me</button> -->
                        </div>
                    </a>
                </div>
            </div>
            <div class="imagecontent">
                <div class="imagehover">
                    <div class="overlay"></div>
                    <img src="assets/images/municipal.jpg" alt="">
                    <a data-image = "assets/images/municipal.jpg" href="#municipal">
                        <div class="info">
                            <p>HILONGOS MUNICIPAL HALL</p>
                            <!-- <button data-image = "assets/images/municipal.jpg" type = "button" class = "btn btn-success" href="">Click Me</button> -->
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div id="spot2">
        <div class="image-content">
            <div class="imagehover">
                <div class="overlay"></div>
                <img src="assets/images/spot.jpg" alt="">
                <a data-image = "assets/images/spot.jpg" href="#spot">
                    <div class="info">
                        <p>HILNGOS SPOT</p>
                        <!-- <button data-image = "assets/images/spot.jpg" type = "button" class = "btn btn-success" href="">Click Me</button> -->
                    </div>
                </a>
            </div>      
        </div>
        <div class="image-content">
            <div class="imagehover">
                <div class="overlay"></div>
                <img src="assets/images/alikaraw.jpg" alt="">
                <a  data-image = "assets/images/alikaraw.jpg" href="#alikaraw">
                    <div class="info">
                        <p>HILONGOS ALIKARAW</p>
                        <!-- <button data-image = "assets/images/alikaraw.jpg" type = "button" class = "btn btn-success" href="">Click Me</button> -->
                    </div>
                </a>
            </div>
        </div>
        <div class="image-content">
            <div class="imagehover">
                <div class="overlay"></div>
                <img src="assets/images/didang.jpg" alt="">
                <a data-image = "assets/images/didang.jpg" href="#didang">
                    <div class="info">
                        <p>DIDANG RIVER</p>
                        <!-- <button data-image = "assets/images/didang.jpg" type = "button" type = "button" class = "btn btn-success" href="">Click Me</button> -->
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
<section id="map">
        <div class="container-fluid">
            <iframe id="map_canvas" name="map_canvas" src="https://www.google.com/maps/d/u/0/embed?mid=1dVHq6MxHA0S32k5co3ApUaHO22Y&z=12.8&ll=10.4180059,124.9009328" width="100%" height="100%" frameborder="0" style="border:0" allowfullscreen></iframe>
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-sm-offset-6 col-md-5 col-md-offset-7 col-lg-5 col-lg-offset-7">
                    <div id = "touch">
                        <h2>GET IN TOUCH</h2>
                        <form action="">
                            <div class="form-group">
                                    <input type="text" class = "form-control" placeholder="Name">
                            </div>
                            <div class="form-group">
                                    <input type="text" class = "form-control" placeholder="Phone">
                            </div>
                            <div class="form-group">
                                    <input type="email" class = "form-control" placeholder="Email">
                            </div>
                            <div class="form-group">
                                    <textarea name="" rows="5" class = "form-control" placeholder="Message"></textarea>
                            </div>
                            <p><a href="" class = "btn btn-success">Send <span class = "fa fa-share"></span></a></p>
                        </form>
                    </div>
                </div>
            </div>
        </div>
</section>