<ng-include src="'assets/app/template/partial/banner-half.html'"></ng-include>

<section id="contactsPage" class="container-fluid">
    <div class="row">
        <div class="col-md-12 pageLabel">
            <h1>Contact Directory</h1>
        </div>
    </div>
    <div class="contactsContent">
        <!-- City Mayor -->
        <div class="row contactList">
            <div class="col-md-12 padding-0 divLabel">
                <h3>City Mayor's Office - Contact Directory</h3>
            </div>
            <div class="contactDirectory">
                <!-- First Row -->
                <div class="row">
                    <div class="col-md-3 contactItems">
                        <div class="contactIcon">
                            <div class="contactLogo contactDirLogo1"></div>
                        </div>
                        <div>
                            <h3 class="contactName">Administrative Division</h3>
                            <p class="contactDescription">
                                Donec rutrum congue leo eget malesuada. 
                                Praesent sapien massa, convallis a pellentesque nec, 
                                egestas non nisi..
                            </p>
                            <p class="contactNumber">
                                (0909)0909-0909
                            </p>
                        </div>
                    </div>
                    <div class="col-md-3 contactItems">
                        <div class="contactIcon">
                            <div class="contactLogo contactDirLogo2"></div>
                        </div>
                        <div>
                            <h3 class="contactName">Special Services Division</h3>
                            <p class="contactDescription">
                                    Sed porttitor lectus nibh. 
                                    Curabitur non nulla sit amet nisl 
                                    tempus convallis quis ac lectus.
                            </p>
                            <p class="contactNumber">
                                (0909)0909-0909
                            </p>
                        </div>
                    </div>
                    <div class="col-md-3 contactItems">
                        <div class="contactIcon">
                            <div class="contactLogo contactDirLogo3"></div>
                        </div>
                        <div>
                            <h3 class="contactName">City Library</h3>
                            <p class="contactDescription">
                                    Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a. 
                                    Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a.
                            </p>
                            <p class="contactNumber">
                                (0909)0909-0909
                            </p>
                        </div>
                    </div>
                    <div class="col-md-3 contactItems contactItemsNoBorderRight">
                        <div class="contactIcon">
                            <div class="contactLogo contactDirLogo4"></div>
                        </div>
                        <div>
                            <h3 class="contactName">Permits and Licensing Division</h3>
                            <p class="contactDescription">
                                Sed porttitor lectus nibh. 
                                Lorem ipsum dolor sit amet, consectetur 
                                adipiscing elit.
                            </p>
                            <p class="contactNumber">
                                (0909)0909-0909
                            </p>
                        </div>
                    </div>
                </div>
                <!-- Second Row -->
                <div class="row">
                    <div class="col-md-3 contactItems contactItemsNoBorderBottom">
                        <div class="contactIcon">
                            <div class="contactLogo contactDirLogo5"></div>
                        </div>
                        <div>
                            <h3 class="contactName">Public Information Office</h3>
                            <p class="contactDescription">
                                Donec rutrum congue leo eget malesuada. 
                                Praesent sapien massa, convallis a pellentesque nec, 
                                egestas non nisi..
                            </p>
                            <p class="contactNumber">
                                (0909)0909-0909
                            </p>
                        </div>
                    </div>
                    <div class="col-md-3 contactItems contactItemsNoBorderBottom">
                        <div class="contactIcon">
                            <div class="contactLogo contactDirLogo6"></div>
                        </div>
                        <div>
                            <h3 class="contactName">Peace And Order Safety Division</h3>
                            <p class="contactDescription">
                                    Sed porttitor lectus nibh. 
                                    Curabitur non nulla sit amet nisl 
                                    tempus convallis quis ac lectus.
                            </p>
                            <p class="contactNumber">
                                (0909)0909-0909
                            </p>
                        </div>
                    </div>
                    <div class="col-md-3 contactItems contactItemsNoBorderBottom">
                        <div class="contactIcon">
                            <div class="contactLogo contactDirLogo7"></div>
                        </div>
                        <div>
                            <h3 class="contactName">Municipal Health Office</h3>
                            <p class="contactDescription">
                                    Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a. 
                                    Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a.
                            </p>
                            <p class="contactNumber">
                                (0909)0909-0909
                            </p>
                        </div>
                    </div>
                    <div class="col-md-3 contactItems contactItemsNoBorderBottom contactItemsNoBorderRight">
                        <div class="contactIcon">
                            <div class="contactLogo contactDirLogo8"></div>
                        </div>
                        <div>
                            <h3 class="contactName">Office of the City Mayor</h3>
                            <p class="contactDescription">
                                Sed porttitor lectus nibh. 
                                Lorem ipsum dolor sit amet, consectetur 
                                adipiscing elit.
                            </p>
                            <p class="contactNumber">
                                (0909)0909-0909
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Hotlines -->
         <div class="row contactList">
            <div class="col-md-12 padding-0 divLabel">
                <h3>Hotlines</h3>
            </div>
            <div class="contactDirectory">
                <!-- First Row -->
                <div class="row">
                    <div class="col-md-3 contactItems">
                        <div class="contactIcon">
                            <div class="contactLogo contactDirLogo9"></div>
                        </div>
                        <div>
                            <h3 class="contactName">National Emergency Hotline</h3>
                            <p class="contactDescription">
                                Donec rutrum congue leo eget malesuada. 
                                Praesent sapien massa, convallis a pellentesque nec, 
                                egestas non nisi..
                            </p>
                            <p class="contactNumber">
                                911
                            </p>
                        </div>
                    </div>
                    <div class="col-md-3 contactItems">
                        <div class="contactIcon">
                            <div class="contactLogo contactDirLogo10"></div>
                        </div>
                        <div>
                            <h3 class="contactName">NDRRMC</h3>
                            <p class="contactDescription">
                                    Sed porttitor lectus nibh. 
                                    Curabitur non nulla sit amet nisl 
                                    tempus convallis quis ac lectus.
                            </p>
                            <p class="contactNumber">
                                (0909)0909-0909
                            </p>
                        </div>
                    </div>
                    <div class="col-md-3 contactItems">
                        <div class="contactIcon">
                            <div class="contactLogo contactDirLogo11"></div>
                        </div>
                        <div>
                            <h3 class="contactName">DSWD</h3>
                            <p class="contactDescription">
                                    Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a. 
                                    Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a.
                            </p>
                            <p class="contactNumber">
                                (0909)0909-0909
                            </p>
                        </div>
                    </div>
                    <div class="col-md-3 contactItems contactItemsNoBorderRight">
                        <div class="contactIcon">
                            <div class="contactLogo contactDirLogo12"></div>
                        </div>
                        <div>
                            <h3 class="contactName">Red Cross</h3>
                            <p class="contactDescription">
                                Sed porttitor lectus nibh. 
                                Lorem ipsum dolor sit amet, consectetur 
                                adipiscing elit.
                            </p>
                            <p class="contactNumber">
                                143
                            </p>
                        </div>
                    </div>
                </div>
                <!-- Second Row -->
                <div class="row">
                    <div class="col-md-3 contactItems">
                        <div class="contactIcon">
                            <div class="contactLogo contactDirLogo13"></div>
                        </div>
                        <div>
                            <h3 class="contactName">DILG</h3>
                            <p class="contactDescription">
                                Donec rutrum congue leo eget malesuada. 
                                Praesent sapien massa, convallis a pellentesque nec, 
                                egestas non nisi..
                            </p>
                            <p class="contactNumber">
                                (0909)0909-0909
                            </p>
                        </div>
                    </div>
                    <div class="col-md-3 contactItems">
                        <div class="contactIcon">
                            <div class="contactLogo contactDirLogo14"></div>
                        </div>
                        <div>
                            <h3 class="contactName">Philppine National Police (PNP)</h3>
                            <p class="contactDescription">
                                    Sed porttitor lectus nibh. 
                                    Curabitur non nulla sit amet nisl 
                                    tempus convallis quis ac lectus.
                            </p>
                            <p class="contactNumber">
                                (0909)0909-0909
                            </p>
                        </div>
                    </div>
                    <div class="col-md-3 contactItems">
                        <div class="contactIcon">
                            <div class="contactLogo contactDirLogo15"></div>
                        </div>
                        <div>
                            <h3 class="contactName">Bureau of Fire Protection</h3>
                            <p class="contactDescription">
                                    Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a. 
                                    Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a.
                            </p>
                            <p class="contactNumber">
                                (0909)0909-0909
                            </p>
                        </div>
                    </div>
                    <div class="col-md-3 contactItems contactItemsNoBorderRight">
                        <div class="contactIcon">
                            <div class="contactLogo contactDirLogo16"></div>
                        </div>
                        <div>
                            <h3 class="contactName">Philippine Coast Guard</h3>
                            <p class="contactDescription">
                                Sed porttitor lectus nibh. 
                                Lorem ipsum dolor sit amet, consectetur 
                                adipiscing elit.
                            </p>
                            <p class="contactNumber">
                                (0909)0909-0909
                            </p>
                        </div>
                    </div>
                </div>
                <!-- Third Row -->
                <div class="row">
                    <div class="col-md-3 contactItems contactItemsNoBorderBottom">
                        <div class="contactIcon">
                            <div class="contactLogo contactDirLogo17"></div>
                        </div>
                        <div>
                            <h3 class="contactName">Land Transportation Office (LTO)</h3>
                            <p class="contactDescription">
                                Donec rutrum congue leo eget malesuada. 
                                Praesent sapien massa, convallis a pellentesque nec, 
                                egestas non nisi..
                            </p>
                            <p class="contactNumber">
                                (0909)0909-0909
                            </p>
                        </div>
                    </div>
                    <div class="col-md-3 contactItems contactItemsNoBorderBottom">
                        <div class="contactIcon">
                            <div class="contactLogo contactDirLogo18"></div>
                        </div>
                        <div>
                            <h3 class="contactName">Philippine Coast Guard</h3>
                            <p class="contactDescription">
                                    Sed porttitor lectus nibh. 
                                    Curabitur non nulla sit amet nisl 
                                    tempus convallis quis ac lectus.
                            </p>
                            <p class="contactNumber">
                                (0909)0909-0909
                            </p>
                        </div>
                    </div>
                    <div class="col-md-3 contactItems contactItemsNoBorderBottom">
                        <div class="contactIcon">
                            <div class="contactLogo contactDirLogo19"></div>
                        </div>
                        <div>
                            <h3 class="contactName">Department of Transportation and Communications (DOTC)</h3>
                            <p class="contactDescription">
                                    Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a. 
                                    Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a.
                            </p>
                            <p class="contactNumber">
                                (0909)0909-0909
                            </p>
                        </div>
                    </div>
                    <div class="col-md-3 contactItems contactItemsNoBorderBottom contactItemsNoBorderRight">
                        <div class="contactIcon">
                            <div class="contactLogo contactLogo2 contactDirLogo20"></div>
                        </div>
                        <!-- <div>
                            <h3 class="contactName">Red Cross</h3>
                            <p class="contactDescription">
                                Sed porttitor lectus nibh. 
                                Lorem ipsum dolor sit amet, consectetur 
                                adipiscing elit.
                            </p>
                            <p class="contactNumber">
                                (0909)0909-0909
                            </p>
                        </div> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>