<ng-include src="'assets/app/template/partial/banner-half.html'"></ng-include>
<div id="eventPage">
    <section class="container">
        <div class="row">
            <div id="eventHeader" class="col-md-12">
                <img id="iconEvenCalendar" src="assets/images/icons/calendar.png" alt="">
                <h1 id="eventTitle" class="margin-0">Events</h1>
                <img id="imgEventHeader" src="assets/images/events/calendar.png" alt="" >
            </div>
        </div>
    </section>
    <section class="container event-border">
        <div class="row">
            <div class="col-md-8">
               <h4 class="text-uppercase">Upcoming Events</h3>
            </div>
            <div class="col-md-4">
                <div class="input-form icon-right margin-top-2">
                    <input type="text" name="" class="form-control">
                    <i class="fa fa-calendar"></i>
                </div>
                
            </div>
        </div>
    </section>
    <section class="container event-border">
        <div class="row padding-top-10 padding-bottom-10 event-item" data-ui-sref="eventDetails({eventId:1})">
            <div class="col-md-4 col-sm-12">
                <div class="event-image">

                </div>
            </div>
            <div class="col-md-6 col-sm-8">
                <h1 class="text-upper">Diskoral</h1>
                <h3 class="text-muted">Tuesday, 7:00 PM</h3>
                <p class="text-justify">Donec rutrum congue leo eget malesuada. Pellentesque in ipsum id orci porta dapibus. Nulla porttitor accumsan tincidunt. Praesent sapien massa, convallis a pellentesque nec, egestas non nisi. Vivamus magna justo, lacinia eget consectetur sed, convallis at tellus. Donec sollicitudin molestie malesuada. Cras ultricies ligula sed magna dictum porta. Vivamus suscipit tortor eget felis porttitor volutpat. Pellentesque in ipsum id orci porta dapibus. Nulla porttitor accumsan tincidunt.</p>
            </div>
            <div class="col-md-2 col-sm-4">
                <div class="event-calendar">
                    <h2 class="text-uppercase event-date">Dec 25</h2>
                    <h1 class="text-uppercase event-year">2017</h1>
                </div>
            </div>
        </div>
    </section>
    <section class="container event-border">
        <div class="row">
            <div class="col-md-12">
               <h4 class="text-uppercase">Past Events</h3>
            </div>
        </div>
    </section>
    <section class="container event-border past-event">
        <div class="row padding-top-10 padding-bottom-10 event-item" data-ui-sref="eventDetails({eventId:1})">
            <div class="col-md-4 col-sm-12">
                <div class="event-image">

                </div>
            </div>
            <div class="col-md-6 col-sm-8">
                <h1 class="text-upper">Diskoral</h1>
                <h3 class="text-muted">Tuesday, 7:00 PM</h3>
                <p class="text-justify">Donec rutrum congue leo eget malesuada. Pellentesque in ipsum id orci porta dapibus. Nulla porttitor accumsan tincidunt. Praesent sapien massa, convallis a pellentesque nec, egestas non nisi. Vivamus magna justo, lacinia eget consectetur sed, convallis at tellus. Donec sollicitudin molestie malesuada. Cras ultricies ligula sed magna dictum porta. Vivamus suscipit tortor eget felis porttitor volutpat. Pellentesque in ipsum id orci porta dapibus. Nulla porttitor accumsan tincidunt.</p>
            </div>
            <div class="col-md-2 col-sm-4">
                <div class="event-calendar">
                    <h2 class="text-uppercase event-date">Dec 25</h2>
                    <h1 class="text-uppercase event-year">2017</h1>
                </div>
            </div>
        </div>
    </section>
    <section class="container event-border past-event">
        <div class="row padding-top-10 padding-bottom-10 event-item" data-ui-sref="eventDetails({eventId:1})">
            <div class="col-md-4 col-sm-12">
                <div class="event-image">

                </div>
            </div>
            <div class="col-md-6 col-sm-8">
                <h1 class="text-upper">Diskoral</h1>
                <h3 class="text-muted">Tuesday, 7:00 PM</h3>
                <p class="text-justify">Donec rutrum congue leo eget malesuada. Pellentesque in ipsum id orci porta dapibus. Nulla porttitor accumsan tincidunt. Praesent sapien massa, convallis a pellentesque nec, egestas non nisi. Vivamus magna justo, lacinia eget consectetur sed, convallis at tellus. Donec sollicitudin molestie malesuada. Cras ultricies ligula sed magna dictum porta. Vivamus suscipit tortor eget felis porttitor volutpat. Pellentesque in ipsum id orci porta dapibus. Nulla porttitor accumsan tincidunt.</p>
            </div>
            <div class="col-md-2 col-sm-4">
                <div class="event-calendar">
                    <h2 class="text-uppercase event-date">Dec 25</h2>
                    <h1 class="text-uppercase event-year">2017</h1>
                </div>
            </div>
        </div>
    </section>
    <section class="container event-border past-event">
        <div class="row padding-top-10 padding-bottom-10 event-item" data-ui-sref="eventDetails({eventId:1})">
            <div class="col-md-4 col-sm-12">
                <div class="event-image">

                </div>
            </div>
            <div class="col-md-6 col-sm-8">
                <h1 class="text-upper">Diskoral</h1>
                <h3 class="text-muted">Tuesday, 7:00 PM</h3>
                <p class="text-justify">Donec rutrum congue leo eget malesuada. Pellentesque in ipsum id orci porta dapibus. Nulla porttitor accumsan tincidunt. Praesent sapien massa, convallis a pellentesque nec, egestas non nisi. Vivamus magna justo, lacinia eget consectetur sed, convallis at tellus. Donec sollicitudin molestie malesuada. Cras ultricies ligula sed magna dictum porta. Vivamus suscipit tortor eget felis porttitor volutpat. Pellentesque in ipsum id orci porta dapibus. Nulla porttitor accumsan tincidunt.</p>
            </div>
            <div class="col-md-2 col-sm-4">
                <div class="event-calendar">
                    <h2 class="text-uppercase event-date">Dec 25</h2>
                    <h1 class="text-uppercase event-year">2017</h1>
                </div>
            </div>
        </div>
    </section>
    <section class="container event-border past-event">
        <div class="row padding-top-10 padding-bottom-10 event-item" data-ui-sref="eventDetails({eventId:1})">
            <div class="col-md-4 col-sm-12">
                <div class="event-image">

                </div>
            </div>
            <div class="col-md-6 col-sm-8">
                <h1 class="text-upper">Diskoral</h1>
                <h3 class="text-muted">Tuesday, 7:00 PM</h3>
                <p class="text-justify">Donec rutrum congue leo eget malesuada. Pellentesque in ipsum id orci porta dapibus. Nulla porttitor accumsan tincidunt. Praesent sapien massa, convallis a pellentesque nec, egestas non nisi. Vivamus magna justo, lacinia eget consectetur sed, convallis at tellus. Donec sollicitudin molestie malesuada. Cras ultricies ligula sed magna dictum porta. Vivamus suscipit tortor eget felis porttitor volutpat. Pellentesque in ipsum id orci porta dapibus. Nulla porttitor accumsan tincidunt.</p>
            </div>
            <div class="col-md-2 col-sm-4">
                <div class="event-calendar">
                    <h2 class="text-uppercase event-date">Dec 25</h2>
                    <h1 class="text-uppercase event-year">2017</h1>
                </div>
            </div>
        </div>
    </section>
</div>