<section id="demographicsTab" class ="container-fluid">
        
    <!-- <div class="container">
        <div class="row">
            <div class="col-md-9">
                <img src="assets/images/profile/demographics-icon.png" alt="">
                <h3>Demographics</h3>
            </div>
            <div class="col-md-3">
                <section>
                    <div class="form-group">
                        <input type="text" class = "form-control">
                        <span class = "fa fa-calendar"></span>
                    </div>
                </section>
            </div>
        </div>
        <div class="row yellow-heading">
            <h4>YEAR</h4>
            <h4>POPULATION</h4>
        </div>

        <div class="row yearly-demographics">
            <div class="col-md-10">
                <h3 class="year">2017</h3>
                <div class="demographicDetails">
                    <div class="row">
                        <div class="col-md-6 table-responsive">
                            <table class = "table">
                                <tbody>
                                    <tr>
                                        <td>Growth</td>
                                        <td>:</td>
                                        <td>1.72% (2010 - 2015)</td>
                                    </tr>
                                    <tr>
                                        <td>Birth Rate</td>
                                        <td>:</td>
                                        <td>19% birth / 1,000 Population</td>
                                    </tr>
                                    <tr>
                                        <td>Death Rate</td>
                                        <td>:</td>
                                        <td>5.2% deaths / 1,000 Population</td>
                                    </tr>
                                    <tr>
                                        <td>Male</td>
                                        <td>:</td>
                                        <td>17,999,279</td>
                                    </tr>
                                    <tr>
                                        <td>Male</td>
                                        <td>:</td>
                                        <td>17,999,279</td>
                                    </tr>
                                    <tr>
                                        <td>Female</td>
                                        <td>:</td>
                                        <td>17,285,040</td>
                                    </tr>
                                    <tr>
                                        <td>Fertility Rate</td>
                                        <td>:</td>
                                        <td>3.0 children born / woman</td>
                                    </tr>
                                    <tr>
                                        <td>Infant Mortality Rate</td>
                                        <td>:</td>
                                        <td>19.34 deaths / 1,000 live births</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <h3 class="number-population text-center">50,000</h3>
            </div>
        </div>
        <div class="row yearly-demographics">
            <div class="col-md-10">
                <h3 class="year">2012</h3>
                <div class="demographicDetails">
                    <div class="row">
                        <div class="col-md-6 table-responsive">
                            <table class = "table">
                                <tbody>
                                    <tr>
                                        <td>Growth</td>
                                        <td>:</td>
                                        <td>1.72% (2010 - 2015)</td>
                                    </tr>
                                    <tr>
                                        <td>Birth Rate</td>
                                        <td>:</td>
                                        <td>19% birth / 1,000 Population</td>
                                    </tr>
                                    <tr>
                                        <td>Death Rate</td>
                                        <td>:</td>
                                        <td>5.2% deaths / 1,000 Population</td>
                                    </tr>
                                    <tr>
                                        <td>Male</td>
                                        <td>:</td>
                                        <td>17,999,279</td>
                                    </tr>
                                    <tr>
                                        <td>Male</td>
                                        <td>:</td>
                                        <td>17,999,279</td>
                                    </tr>
                                    <tr>
                                        <td>Female</td>
                                        <td>:</td>
                                        <td>17,285,040</td>
                                    </tr>
                                    <tr>
                                        <td>Fertility Rate</td>
                                        <td>:</td>
                                        <td>3.0 children born / woman</td>
                                    </tr>
                                    <tr>
                                        <td>Infant Mortality Rate</td>
                                        <td>:</td>
                                        <td>19.34 deaths / 1,000 live births</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <h3 class="number-population text-center">40,000</h3>
            </div>
        </div>

        <div class="row yearly-demographics">
            <div class="col-md-10">
                <h3 class="year">2009</h3>
                <div class="demographicDetails">
                    <div class="row">
                        <div class="col-md-6 table-responsive">
                            <table class = "table">
                                <tbody>
                                    <tr>
                                        <td>Growth</td>
                                        <td>:</td>
                                        <td>1.72% (2010 - 2015)</td>
                                    </tr>
                                    <tr>
                                        <td>Birth Rate</td>
                                        <td>:</td>
                                        <td>19% birth / 1,000 Population</td>
                                    </tr>
                                    <tr>
                                        <td>Death Rate</td>
                                        <td>:</td>
                                        <td>5.2% deaths / 1,000 Population</td>
                                    </tr>
                                    <tr>
                                        <td>Male</td>
                                        <td>:</td>
                                        <td>17,999,279</td>
                                    </tr>
                                    <tr>
                                        <td>Male</td>
                                        <td>:</td>
                                        <td>17,999,279</td>
                                    </tr>
                                    <tr>
                                        <td>Female</td>
                                        <td>:</td>
                                        <td>17,285,040</td>
                                    </tr>
                                    <tr>
                                        <td>Fertility Rate</td>
                                        <td>:</td>
                                        <td>3.0 children born / woman</td>
                                    </tr>
                                    <tr>
                                        <td>Infant Mortality Rate</td>
                                        <td>:</td>
                                        <td>19.34 deaths / 1,000 live births</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <h3 class="number-population text-center">30,000</h3>
            </div>
        </div>
    </div> -->

    <div class="row">
        <div class="panel-group accordionContents" id="accordion">
            <!-- Demography -->
            <div class="panel accordionPanel">
                <a data-toggle="collapse" data-parent="#accordion" data-target="#collapse1" href="">
                    <div class="col-md-12 padding-0 divLabel">
                        <span><img class="icon" src="assets/images/profile/demographics-icon.png" alt=""></span>
                        <h3>Demography</h3>
                    </div>
                </a>
                <div id="collapse1" class="panel-collapse collapse in">
                    <div class="col-md-12 contents panel-body">
                        <table>
                            <tr class="row">
                                <td class="col-md-6">TOTAL POPULATION</td>
                                <td class="col-md-6">65,253(BRGY.CENSUS)2014</td>
                            </tr>
                            <tr class="row">
                                <td class="col-md-6">No. Of Households</td>
                                <td class="col-md-6">14,677</td>
                            </tr>
                            <tr class="row">
                                <td class="col-md-6">Average Household Size</td>
                                <td class="col-md-6">5</td>
                            </tr>
                        </table>
                        <table>
                            <tr class="row">
                                <th class="col-md-4"></th>
                                <th class="col-md-4">RHU 1</th>
                                <th class="col-md-4">RHU 2</th>
                            </tr>
                            <tr class="row">
                                <td class="col-md-4">Crude Birth Rate</td>
                                <td class="col-md-4">18/1000 Pop'n</td>
                                <td class="col-md-4">17/1000 Pop'n</td>
                            </tr>
                            <tr class="row">
                                <td class="col-md-4">Crude Birth Rate</td>
                                <td class="col-md-4">7/1000 Pop'n</td>
                                <td class="col-md-4">7.2/1000 Pop'n</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <!-- Health -->
            <div class="panel accordionPanel">
                <a data-toggle="collapse" data-parent="#accordion" data-target="#collapse2" href="">
                    <div class="col-md-12 padding-0 divLabel">
                        <span><img class="icon" src="assets/images/profile/demographics-icon.png" alt=""></span>
                        <h3>Health (As of CY 2016 AT RHU 1 & RHU 2)</h3>
                    </div>
                </a>
                <div id="collapse2" class="panel-collapse collapse">
                    <div class="col-md-12 contents panel-body">
                        <!-- Health -->
                        <table>
                            <tr class="row">
                                <th class="col-md-4">Nutritional Status</th>
                                <th class="col-md-2">RHU 1</th>
                                <th class="col-md-2">%</th>
                                <th class="col-md-2">RHU 2</th>
                                <th class="col-md-2">%</th>
                            </tr>
                            <tr class="row">
                                <td class="col-md-4">Underweight</td>
                                <td class="col-md-2">474</td>
                                <td class="col-md-2">11%</td>
                                <td class="col-md-2">213</td>
                                <td class="col-md-2">9.2%</td>
                            </tr>
                            <tr class="row">
                                <td class="col-md-4">Severely Underweight</td>
                                <td class="col-md-2">134 </td>
                                <td class="col-md-2">3%</td>
                                <td class="col-md-2">33 </td>
                                <td class="col-md-2">1.4%</td>
                            </tr>
                            <tr class="row">
                                <td class="col-md-4">Normal </td>
                                <td class="col-md-2">3799 </td>
                                <td class="col-md-2">84%</td>
                                <td class="col-md-2">2046 </td>
                                <td class="col-md-2">88.6%</td>
                            </tr>
                            <tr class="row">
                                <td class="col-md-4">Overweight </td>
                                <td class="col-md-2">87</td>
                                <td class="col-md-2">2%</td>
                                <td class="col-md-2">16</td>
                                <td class="col-md-2">0.6%</td>
                            </tr>
                        </table>
                        <!-- Morbidity and Mortality -->
                        <h3 class="tableHeading">10-Leading Causes of Morbidity & Mortality of All ages- RHU I & RHU II</h3>
                        <table>
                            <tr class="row">
                                <th class="col-md-4">Morbidity</th>
                                <th class="col-md-2">#</th>
                                <th class="col-md-4">Mortality</th>
                                <th class="col-md-2">#</th>
                            </tr>
                            <tr class="row">
                                <td class="col-md-4">Upper Respiratory Infection</td>
                                <td class="col-md-2">10633 </td>
                                <td class="col-md-4">Pneumonia </td>
                                <td class="col-md-2">83 </td>
                            </tr>
                            <tr class="row">
                                <td class="col-md-4">Hypertension </td>
                                <td class="col-md-2">4357 </td>
                                <td class="col-md-4">SVA/Hypertension </td>
                                <td class="col-md-2">85 </td>
                            </tr>
                            <tr class="row">
                                <td class="col-md-4">Bronchitis </td>
                                <td class="col-md-2">1941  </td>
                                <td class="col-md-4">Acute Mycardial Infarction </td>
                                <td class="col-md-2">35 </td>
                            </tr>
                            <tr class="row">
                                <td class="col-md-4">Cough & Colds </td>
                                <td class="col-md-2">1588   </td>
                                <td class="col-md-4">Cancer </td>
                                <td class="col-md-2">34  </td>
                            </tr>
                            <tr class="row">
                                <td class="col-md-4">Skin Disease </td>
                                <td class="col-md-2">819 </td>
                                <td class="col-md-4">Nut. Def. due to Senility </td>
                                <td class="col-md-2">30 </td>
                            </tr>
                            <tr class="row">
                                <td class="col-md-4">Wounds </td>
                                <td class="col-md-2">777 </td>
                                <td class="col-md-4">Heart Diseases/CHP</td>
                                <td class="col-md-2">20 </td>
                            </tr>
                             <tr class="row">
                                <td class="col-md-4">Gastritis  </td>
                                <td class="col-md-2">737  </td>
                                <td class="col-md-4">Diabetes Mellitus </td>
                                <td class="col-md-2">19  </td>
                            </tr>
                             <tr class="row">
                                <td class="col-md-4">UTI   </td>
                                <td class="col-md-2">547   </td>
                                <td class="col-md-4">Renal Failure </td>
                                <td class="col-md-2">14   </td>
                            </tr>
                            <tr class="row">
                                <td class="col-md-4">Diabetes Mellitus   </td>
                                <td class="col-md-2">490    </td>
                                <td class="col-md-4">PTB </td>
                                <td class="col-md-2">13  </td>
                            </tr>
                             <tr class="row">
                                <td class="col-md-4">Acute Gastro Enteritis</td>
                                <td class="col-md-2">444 </td>
                                <td class="col-md-4">Bleeding Peptic Ulcer </td>
                                <td class="col-md-2">8 </td>
                            </tr>
                        </table>
                        <!-- Facilities -->
                        <h3 class="tableHeading">Facilities</h3>
                        <table>
                            <tr class="row">
                                <th class="col-md-4">Hospital/Clinic</th>
                                <th class="col-md-3">Address </th>
                                <th class="col-md-2">Category </th>
                                <th class="col-md-3">Contact Number</th>
                            </tr>
                            <tr class="row">
                                <td class="col-md-4 tdCentered">
                                    Imelliano Melgazo Memorial 
                                    Hospital (Hilongos District Hospital) 
                                </td>
                                <td class="col-md-3 tdCentered">CV Alcuino St.  </td>
                                <td class="col-md-2 tdCentered">Public  </td>
                                <td class="col-md-3 tdCentered">336-2102 </td>
                            </tr>
                            <tr class="row">
                                <td class="col-md-4 tdCentered">Leyte Baptis Hospital
                                </td>
                                <td class="col-md-3 tdCentered">RV Fulache St.  </td>
                                <td class="col-md-2 tdCentered">Private </td>
                                <td class="col-md-3 tdCentered">336-2105 </td>
                            </tr>
                            <tr class="row">
                                <td class="col-md-4 tdCentered">Villafor’s Clinic
                                </td>
                                <td class="col-md-3 tdCentered">RV Fulache St.  </td>
                                <td class="col-md-2 tdCentered">Private </td>
                                <td class="col-md-3 tdCentered">336-2089 </td>
                            </tr>
                            <tr class="row">
                                <td class="col-md-4 tdCentered">Sto. Nino Clinic
                                </td>
                                <td class="col-md-3 tdCentered">Rivera St.</td>
                                <td class="col-md-2 tdCentered">Private </td>
                                <td class="col-md-3 tdCentered">336-2049 </td>
                            </tr>
                            <tr class="row">
                                <td class="col-md-4 tdCentered">Klinika Zamoras Diagnostic Center
                                </td>
                                <td class="col-md-3 tdCentered">ML Florest St.</td>
                                <td class="col-md-2 tdCentered">Private </td>
                                <td class="col-md-3 tdCentered">336-2059 </td>
                            </tr>
                            <tr class="row">
                                <td class="col-md-4 tdCentered">Rural Health Unit I
                                </td>
                                <td class="col-md-3 tdCentered">RV Villaflores St.</td>
                                <td class="col-md-2 tdCentered">Public (LGU) </td>
                                <td class="col-md-3 tdCentered">336-3539</td>
                            </tr>
                            <tr class="row">
                                <td class="col-md-4 tdCentered">Rural Health Unit II
                                </td>
                                <td class="col-md-3 tdCentered">Brgy. Conception</td>
                                <td class="col-md-2 tdCentered">Public (LGU) </td>
                                <td class="col-md-3 tdCentered"></td>
                            </tr>
                            <tr class="row">
                                <td class="col-md-4 tdCentered">Arvin-Rose Dental Clinic
                                </td>
                                <td class="col-md-3 tdCentered">Brgy. San Juan</td>
                                <td class="col-md-2 tdCentered">Private</td>
                                <td class="col-md-3 tdCentered"></td>
                            </tr>
                            <tr class="row">
                                <td class="col-md-4 tdCentered">Dipon Rental Clinic
                                </td>
                                <td class="col-md-3 tdCentered">Capt. Vilbar St.</td>
                                <td class="col-md-2 tdCentered">Private</td>
                                <td class="col-md-3 tdCentered"></td>
                            </tr>
                            <tr class="row">
                                <td class="col-md-4 tdCentered">SH Nevado Dental Clinic
                                </td>
                                <td class="col-md-3 tdCentered">RV Fulache St.</td>
                                <td class="col-md-2 tdCentered">Private</td>
                                <td class="col-md-3 tdCentered"></td>
                            </tr>
                            <tr class="row">
                                <td class="col-md-9">
                                    <p>2 – Main Health Centers</p>
                                    <p>13 – Brgy. Health Stations</p>
                                </td>
                                <td class="col-md-1 tdCentered"></td>
                                <td class="col-md-1 tdCentered"></td>
                                <td class="col-md-1 tdCentered"></td>
                            </tr>
                        </table>
                        <!-- Health Personal & Facilities-Public & Private -->
                        <h3 class="tableHeading">Health Personal & Facilities-Public & Private</h3>
                        <table class="row">
                            <tr>
                                <th class="col-md-4">No. of Doctors</th>
                                <th class="col-md-2">RHU</th>
                                <th class="col-md-2">Other Public Hospital</th>
                                <th class="col-md-2">Private</th>
                                <th class="col-md-2">Total</th>
                            </tr>
                            <tr>
                                <td class="col-md-4">No. of Doctors</td>
                                <td class="col-md-2 tdCentered">2</td>
                                <td class="col-md-2 tdCentered">7</td>
                                <td class="col-md-2 tdCentered">8</td>
                                <td class="col-md-2 tdCentered">17</td>
                            </tr>
                            <tr>
                                <td class="col-md-4">No. of Nurses</td>
                                <td class="col-md-2 tdCentered">4</td>
                                <td class="col-md-2 tdCentered">11</td>
                                <td class="col-md-2 tdCentered">14</td>
                                <td class="col-md-2 tdCentered">29</td>
                            </tr>
                            <tr>
                                <td class="col-md-4">No. of Dentist</td>
                                <td class="col-md-2 tdCentered">1(visiting)</td>
                                <td class="col-md-2 tdCentered">2</td>
                                <td class="col-md-2 tdCentered">3</td>
                                <td class="col-md-2 tdCentered">6</td>
                            </tr>
                            <tr>
                                <td class="col-md-4">No. of Med. Tech.</td>
                                <td class="col-md-2 tdCentered">1</td>
                                <td class="col-md-2 tdCentered">1</td>
                                <td class="col-md-2 tdCentered">2</td>
                                <td class="col-md-2 tdCentered">5</td>
                            </tr>
                            <tr>
                                <td class="col-md-4">No. of Sanitary Insp.</td>
                                <td class="col-md-2 tdCentered">2</td>
                                <td class="col-md-2 tdCentered">1</td>
                                <td class="col-md-2 tdCentered">2</td>
                                <td class="col-md-2 tdCentered">5</td>
                            </tr>
                            <tr>
                                <td class="col-md-4">No. of Midwives</td>
                                <td class="col-md-2 tdCentered">15</td>
                                <td class="col-md-2 tdCentered">0</td>
                                <td class="col-md-2 tdCentered">0</td>
                                <td class="col-md-2 tdCentered">15</td>
                            </tr>
                            <tr>
                                <td class="col-md-4">No. of BHW</td>
                                <td class="col-md-2 tdCentered">456</td>
                                <td class="col-md-2 tdCentered">0</td>
                                <td class="col-md-2 tdCentered">0</td>
                                <td class="col-md-2 tdCentered">456</td>
                            </tr>
                            <tr>
                                <td class="col-md-4">No. of BNS</td>
                                <td class="col-md-2 tdCentered">51</td>
                                <td class="col-md-2 tdCentered">0</td>
                                <td class="col-md-2 tdCentered">0</td>
                                <td class="col-md-2 tdCentered">51</td>
                            </tr>
                             <tr>
                                <td class="col-md-4">No. of Dieticians</td>
                                <td class="col-md-2 tdCentered">0</td>
                                <td class="col-md-2 tdCentered">1</td>
                                <td class="col-md-2 tdCentered">0</td>
                                <td class="col-md-2 tdCentered">1</td>
                            </tr>
                            <tr>
                                <td class="col-md-4">No. of EENT</td>
                                <td class="col-md-2 tdCentered">0</td>
                                <td class="col-md-2 tdCentered">0</td>
                                <td class="col-md-2 tdCentered">1</td>
                                <td class="col-md-2 tdCentered">1</td>
                            </tr>
                            <tr>
                                <td class="col-md-4">No. of Optometrist</td>
                                <td class="col-md-2 tdCentered">-</td>
                                <td class="col-md-2 tdCentered">-</td>
                                <td class="col-md-2 tdCentered">4</td>
                                <td class="col-md-2 tdCentered">3</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <!-- Education -->
            <div class="panel accordionPanel">
                <a data-toggle="collapse" data-parent="#accordion" data-target="#collapse3" href="">
                    <div class="col-md-12 padding-0 divLabel">
                        <span><img class="icon" src="assets/images/profile/demographics-icon.png" alt=""></span>
                        <h3>Education</h3>
                    </div>
                </a>
                <div id="collapse3" class="panel-collapse collapse">
                    <div class="col-md-12 contents panel-body">
                        <p class="pContents">Literacy Rate: 96.4% in 2007 Census</p>
                        <p class="pContents">Schools: Pre-Schools, Elementary, High School and Tertiary, both Public & Private, & Satellite TESDA Ctr.</p>
                        <table>
                            <tr class="row">
                                <th class="col-md-6">Public Schools</th>
                                <th class="col-md-6">Private Schools</th>
                            </tr>
                            <tr class="row">
                                <td class="col-md-6">Hilongos South District</td>
                                <td class="col-md-6">Immaculate Conception Learning Ctr-Tutorial Ctr.</td>
                            </tr>
                            <tr class="row">
                                <td class="col-md-6">Hilongos North District</td>
                                <td class="col-md-6">Saint Teresa’s School of Hilongos</td>
                            </tr>
                            <tr class="row">
                                <td class="col-md-6">Hilnogos Nat’l. Voc. Sch.</td>
                                <td class="col-md-6">Grelina Osmena Christian College</td>
                            </tr>
                            <tr class="row">
                                <td class="col-md-6">Hitudpan Nat’l High Sch.</td>
                                <td class="col-md-6">Virginia institute of Technology</td>
                            </tr>
                            <tr class="row">
                                <td class="col-md-6">Conception Nat’l. High</td>
                                <td class="col-md-6"></td>
                            </tr>
                            <tr class="row">
                                <td class="col-md-6">Naval Nat’l. High</td>
                                <td class="col-md-6"></td>
                            </tr>
                            <tr class="row">
                                <td class="col-md-6">No. of Day Care Center: 67</td>
                                <td class="col-md-6"></td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <!-- Housing -->
            <div class="panel accordionPanel">
                <a data-toggle="collapse" data-parent="#accordion" data-target="#collapse4" href="">
                    <div class="col-md-12 padding-0 divLabel">
                        <span><img class="icon" src="assets/images/profile/demographics-icon.png" alt=""></span>
                        <h3>Housing</h3>
                    </div>
                </a>
                <div id="collapse4" class="panel-collapse collapse">
                    <div class="col-md-12 contents panel-body">
                        <table>
                            <tr class="row">
                                <th class="col-md-6">Housing</th>
                                <th class="col-md-3">Public</th>
                                <th class="col-md-3">Private</th>
                            </tr>
                            <tr class="row">
                                <td class="col-md-6">Gawad Kalinga</td>
                                <td class="col-md-3 tdCentered"></td>
                                <td class="col-md-3 tdCentered">&#10004;</td>
                            </tr>
                            <tr class="row">
                                <td class="col-md-6">Core Shelter</td>
                                <td class="col-md-3 tdCentered">&#10004;</td>
                                <td class="col-md-3 tdCentered"></td>
                            </tr>
                            <tr class="row">
                                <td class="col-md-6">BLISS Project</td>
                                <td class="col-md-3 tdCentered">&#10004;</td>
                                <td class="col-md-3 tdCentered"></td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <!-- Religion -->
            <div class="panel accordionPanel">
                <a data-toggle="collapse" data-parent="#accordion" data-target="#collapse5" href="">
                    <div class="col-md-12 padding-0 divLabel">
                        <span><img class="icon" src="assets/images/profile/demographics-icon.png" alt=""></span>
                        <h3>Religion</h3>
                    </div>
                </a>
                <div id="collapse5" class="panel-collapse collapse">
                    <div class="col-md-12 contents panel-body">
                        <table>
                            <tr class="row">
                                <th class="col-md-6">Major Denomination</th>
                                <th class="col-md-6">(%)</th>
                            </tr>
                            <tr class="row">
                                <td class="col-md-6">Catholic</td>
                                <td class="col-md-6 tdCentered">92%</td>
                            </tr>
                            <tr class="row">
                                <td class="col-md-6">Baptis, Iglesia ni Kristo, Mormons, & Adventist</td>
                                <td class="col-md-6 tdCentered">3%</td>
                            </tr>
                            <tr class="row">
                                <td class="col-md-6">Born Again Christian, Islam & Aglipay</td>
                                <td class="col-md-6 tdCentered">2%</td>
                            </tr>
                            <tr class="row">
                                <td class="col-md-6">Other denominations: Miracle Crusade, Protestants, etc.</td>
                                <td class="col-md-6 tdCentered">1%</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <!-- Language/Dialect -->
            <div class="panel accordionPanel">
                <a data-toggle="collapse" data-parent="#accordion" data-target="#collapse6" href="">
                    <div class="col-md-12 padding-0 divLabel">
                        <span><img class="icon" src="assets/images/profile/demographics-icon.png" alt=""></span>
                        <h3>Language/Dialect</h3>
                    </div>
                </a>
                <div id="collapse6" class="panel-collapse collapse">
                    <div class="col-md-12 contents panel-body">
                        <table>
                            <tr class="row">
                                <td class="col-md-6">Dialect:</td>
                                <td class="col-md-6 tdCentered">Cebuano</td>
                            </tr>
                            <tr class="row">
                                <td class="col-md-6">Ethno Linguistic Groups:</td>
                                <td class="col-md-6 tdCentered">None</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script>
    $(document).ready(function(){
        $("#demographicsTab .container .row .col-md-3 section .form-group input").datepicker();
    });
    $("#demographicsTab .container .row .col-md-3 section .form-group span").click(function(){
        $("#demographicsTab .container .row .col-md-3 section .form-group input").datepicker('show');
    });
</script>
        