<section id="demographicsTab">
        
    <div class="container-fluid">
        <img src="assets/images/profile/demographics-icon.png" alt="">
        <h3>Hilongos Demographics</h3>
        <div class="row yellow-heading">
            <div class="col-md-10">
                <h4>YEAR</h4>
            </div>
            <div class="col-md-2 text-right">
                <h4>POPULATION</h4>
            </div>
        </div>

        <div class="row yearly-demographics">
            <div class="col-md-10">
                <h3 class="year">2017</h3>
                <div class="demographicDetails">
                    <div class="row">
                        <div class="col-md-3 col-sm-5 col-xs-5">
                            <p>Growth</p>
                        </div>
                        <div class="col-md-1 col-sm-1 col-xs-1">:</div>
                        <div class="col-md-8 col-sm-6 col-xs-6">
                            <p>1.72% (2010 - 2015)</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3 col-sm-5 col-xs-5">
                            <p>Birth Rate</p>
                        </div>
                        <div class="col-md-1 col-sm-1 col-xs-1">:</div>
                        <div class="col-md-8 col-sm-6 col-xs-6">
                            <p>19% birth / 1,000 Population</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3 col-sm-5 col-xs-5">
                            <p>Death Rate</p>
                        </div>
                        <div class="col-md-1 col-sm-1 col-xs-1">:</div>
                        <div class="col-md-8 col-sm-6 col-xs-6">
                            <p>5.2% deaths / 1,000 Population</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3 col-sm-5 col-xs-5">
                            <p>Male</p>
                        </div>
                        <div class="col-md-1 col-sm-1 col-xs-1">:</div>
                        <div class="col-md-8 col-sm-6 col-xs-6">
                            <p>17,999,279</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3 col-sm-5 col-xs-5">
                            <p>Female</p>
                        </div>
                        <div class="col-md-1 col-sm-1 col-xs-1">:</div>
                        <div class="col-md-8 col-sm-6 col-xs-6">
                            <p>17,285,040</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3 col-sm-5 col-xs-5">
                            <p>Fertility Rate</p>
                        </div>
                        <div class="col-md-1 col-sm-1 col-xs-1">:</div>
                        <div class="col-md-8 col-sm-6 col-xs-6">
                            <p>3.0 children born / woman</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3 col-sm-5 col-xs-5">
                            <p>Infant Mortality Rate</p>
                        </div>
                        <div class="col-md-1 col-sm-1 col-xs-1">:</div>
                        <div class="col-md-8 col-sm-6 col-xs-6">
                            <p>19.34 deaths / 1,000 live births</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <h3 class="number-population text-center">50,000</h3>
            </div>
        </div>

        <div class="row yearly-demographics">
            <div class="col-md-10">
                <h3 class="year">2012</h3>
                <div class="demographicDetails">
                    <div class="row">
                        <div class="col-md-3 col-sm-5 col-xs-5">
                            <p>Growth</p>
                        </div>
                        <div class="col-md-1 col-sm-1 col-xs-1">:</div>
                        <div class="col-md-8 col-sm-6 col-xs-6">
                            <p>1.72% (2010 - 2015)</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3 col-sm-5 col-xs-5">
                            <p>Birth Rate</p>
                        </div>
                        <div class="col-md-1 col-sm-1 col-xs-1">:</div>
                        <div class="col-md-8 col-sm-6 col-xs-6">
                            <p>19% birth / 1,000 Population</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3 col-sm-5 col-xs-5">
                            <p>Death Rate</p>
                        </div>
                        <div class="col-md-1 col-sm-1 col-xs-1">:</div>
                        <div class="col-md-8 col-sm-6 col-xs-6">
                            <p>5.2% deaths / 1,000 Population</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3 col-sm-5 col-xs-5">
                            <p>Male</p>
                        </div>
                        <div class="col-md-1 col-sm-1 col-xs-1">:</div>
                        <div class="col-md-8 col-sm-6 col-xs-6">
                            <p>17,999,279</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3 col-sm-5 col-xs-5">
                            <p>Female</p>
                        </div>
                        <div class="col-md-1 col-sm-1 col-xs-1">:</div>
                        <div class="col-md-8 col-sm-6 col-xs-6">
                            <p>17,285,040</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3 col-sm-5 col-xs-5">
                            <p>Fertility Rate</p>
                        </div>
                        <div class="col-md-1 col-sm-1 col-xs-1">:</div>
                        <div class="col-md-8 col-sm-6 col-xs-6">
                            <p>3.0 children born / woman</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3 col-sm-5 col-xs-5">
                            <p>Infant Mortality Rate</p>
                        </div>
                        <div class="col-md-1 col-sm-1 col-xs-1">:</div>
                        <div class="col-md-8 col-sm-6 col-xs-6">
                            <p>19.34 deaths / 1,000 live births</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <h3 class="number-population text-center">40,000</h3>
            </div>
        </div>

        <div class="row yearly-demographics">
            <div class="col-md-10">
                <h3 class="year">2009</h3>
                <div class="demographicDetails">
                    <div class="row">
                        <div class="col-md-3 col-sm-5 col-xs-5">
                            <p>Growth</p>
                        </div>
                        <div class="col-md-1 col-sm-1 col-xs-1">:</div>
                        <div class="col-md-8 col-sm-6 col-xs-6">
                            <p>1.72% (2010 - 2015)</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3 col-sm-5 col-xs-5">
                            <p>Birth Rate</p>
                        </div>
                        <div class="col-md-1 col-sm-1 col-xs-1">:</div>
                        <div class="col-md-8 col-sm-6 col-xs-6">
                            <p>19% birth / 1,000 Population</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3 col-sm-5 col-xs-5">
                            <p>Death Rate</p>
                        </div>
                        <div class="col-md-1 col-sm-1 col-xs-1">:</div>
                        <div class="col-md-8 col-sm-6 col-xs-6">
                            <p>5.2% deaths / 1,000 Population</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3 col-sm-5 col-xs-5">
                            <p>Male</p>
                        </div>
                        <div class="col-md-1 col-sm-1 col-xs-1">:</div>
                        <div class="col-md-8 col-sm-6 col-xs-6">
                            <p>17,999,279</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3 col-sm-5 col-xs-5">
                            <p>Female</p>
                        </div>
                        <div class="col-md-1 col-sm-1 col-xs-1">:</div>
                        <div class="col-md-8 col-sm-6 col-xs-6">
                            <p>17,285,040</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3 col-sm-5 col-xs-5">
                            <p>Fertility Rate</p>
                        </div>
                        <div class="col-md-1 col-sm-1 col-xs-1">:</div>
                        <div class="col-md-8 col-sm-6 col-xs-6">
                            <p>3.0 children born / woman</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3 col-sm-5 col-xs-5">
                            <p>Infant Mortality Rate</p>
                        </div>
                        <div class="col-md-1 col-sm-1 col-xs-1">:</div>
                        <div class="col-md-8 col-sm-6 col-xs-6">
                            <p>19.34 deaths / 1,000 live births</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <h3 class="number-population text-center">30,000</h3>
            </div>
        </div>
    </div>

</section>
        