<section id="trans">
    <img src="assets/images/transport/Car-Icon.png" alt="">
    <h2>Transport Facilities</h2>
</section>
<section id="trans-banner">
    <div class="main-content-top">

    </div>
    <div class="main-content-bottom">
        <div class="content-top">
            <div class="content-top-upper"></div>
            <div class="content-top-upper"></div>
        </div>
        <div class="content-top">
            <div class="content-top-lower"></div>
            <div class="content-top-lower"></div>
            <div class="content-top-lower"></div>
        </div>
    </div>
</section>