<section id="trans">
    <img src="assets/images/transport/Car-Icon.png" alt="">
    <h2>Transport Facilities</h2>
</section>
<section id="trans-banner">
    <div class="main-content-top" style = "background-image:url('assets/images/transport/vehicle.jpg')">
        <div class="overlay"></div>
        <div class="info">
            <h2>There are many variations of passages of Lorem Ipsum available,</span>
                but the majority have suffered alteration in some form, by injected humour,
                or randomised words which don't look even slightly believable. 
                If you are going to use a passage of Lorem Ipsum
            </h2>
            <a href="" class = "btn btn-success">View Details</a>
        </div>
    </div>
    <div class="main-content-bottom">
        <div class="content-top">
            <div class="content-top-upper" style = "background-image:url('assets/images/transport/vehicle1.jpg')">
                <div class="overlay"></div>
                <!-- <div class="info">
                    <h2>There are many variations of passages of Lorem Ipsum available,</span>
                        but the majority have suffered alteration in some form, by injected humour,
                        or randomised words which don't look even slightly believable. 
                        If you are going to use a passage of Lorem Ipsum
                    </h2>
                    <a href="" class = "btn btn-success">Learn More</a>
                </div> -->
            </div>
            <div class="content-top-upper" style = "background-image:url('assets/images/transport/vehicle2.jpg')">
                <div class="overlay"></div>
                <!-- <div class="info">
                    <h2>There are many variations of passages of Lorem Ipsum available,</span>
                        but the majority have suffered alteration in some form, by injected humour,
                        or randomised words which don't look even slightly believable. 
                        If you are going to use a passage of Lorem Ipsum
                    </h2>
                    <a href="" class = "btn btn-success">Learn More</a>
                </div> -->
            </div>
        </div>
        <div class="content-top">
            <div class="content-top-lower" style = "background-image:url('assets/images/transport/vehicle3.jpg')">
                <div class="overlay"></div>
                <!-- <div class="info">
                    <h2>There are many variations of passages of Lorem Ipsum available,</span>
                        but the majority have suffered alteration in some form, by injected humour,
                        or randomised words which don't look even slightly believable. 
                        If you are going to use a passage of Lorem Ipsum
                    </h2>
                    <a href="" class = "btn btn-success">Learn More</a>
                </div> -->
            </div>
            <div class="content-top-lower" style = "background-image:url('assets/images/transport/vehicle5.jpg')">
                <div class="overlay"></div>
                <!-- <div class="info">
                    <h2>There are many variations of passages of Lorem Ipsum available,</span>
                        but the majority have suffered alteration in some form, by injected humour,
                        or randomised words which don't look even slightly believable. 
                        If you are going to use a passage of Lorem Ipsum
                    </h2>
                    <a href="" class = "btn btn-success">Learn More</a>
                </div> -->
            </div>
            <div class="content-top-lower" style = "background-image:url('assets/images/transport/vehicle4.jpg')">
                <div class="overlay"></div>
                <!-- <div class="info">
                    <h2>There are many variations of passages of Lorem Ipsum available,</span>
                        but the majority have suffered alteration in some form, by injected humour,
                        or randomised words which don't look even slightly believable. 
                        If you are going to use a passage of Lorem Ipsum
                    </h2>
                    <a href="" class = "btn btn-success">Learn More</a>
                </div> -->
            </div>
        </div>
    </div>
</section>
<section id="health">
    <img src="assets/images/transport/First-Aid-Icon.png" alt="">
    <h2>Transport Facilities</h2>

    <div id="trans-slider">
        <div id="health-slider">
            <div class="health-slider-item">
                <div class="overlay"></div>
                <img src="assets/images/transport/chils.jpg" alt="">
                <h2>Dental Care</h2>
                <div class="health-slider-item-info">
                    <p>December 5, 2017</p>
                    <a href="" class = "btn btn-success">View Details</a>
                </div>
            </div>
            <div class="health-slider-item">
                <div class="overlay"></div>
                <img src="assets/images/transport/doc.jpg" alt="">
                <h2>Pa-Bakuna</h2>
                <div class="health-slider-item-info">
                    <p>December 5, 2017</p>
                    <a href="" class = "btn btn-success">View Details</a>
                </div>
            </div>
            <div class="health-slider-item">
                <div class="overlay"></div>
                <img src="assets/images/transport/test.jpg" alt="">
                <h2>Medical Check-up</h2>
                <div class="health-slider-item-info">
                    <p>December 5, 2017</p>
                    <a href="" class = "btn btn-success">View Details</a>
                </div>
            </div>
            <div class="health-slider-item">
                <div class="overlay"></div>
                <img src="assets/images/transport/chils.jpg" alt="">
                <h2>Dental Care</h2>
                <div class="health-slider-item-info">
                    <p>December 5, 2017</p>
                    <a href="" class = "btn btn-success">View Details</a>
                </div>
            </div>
            <div class="health-slider-item">
                <div class="overlay"></div>
                <img src="assets/images/transport/doc.jpg" alt="">
                <h2>Pa-Bakuna</h2>
                <div class="health-slider-item-info">
                    <p>December 5, 2017</p>
                    <a href="" class = "btn btn-success">View Details</a>
                </div>
            </div>
            <div class="health-slider-item">
                <div class="overlay"></div>
                <img src="assets/images/transport/test.jpg" alt="">
                <h2>Medical Check-up</h2>
                <div class="health-slider-item-info">
                    <p>December 5, 2017</p>
                    <a href="" class = "btn btn-success">View Details</a>
                </div>
            </div>
        </div>
    </div>
</section>

<script>
    $("#health #trans-slider #health-slider").slick({
        centerMode: true,
        arrows:true,
        // autoplay: true,
        infinite:true,
        slidesToShow: 3,
        adaptiveHeight: true,
        responsive: [
            {
            breakpoint: 768,
            settings: {
                arrows: false,
                slidesToShow: 2
            }
            },
            {
            breakpoint: 480,
            settings: {
                arrows: false,
                centerMode: true,
                centerPadding: '40px',
                slidesToShow: 1
            }
            }
        ]
    });
</script>